.top-wrapper {
  border-radius: 20px;
  background: #DEEBF5;
  display: flex;
  margin-bottom: 30px;
}
@media screen and (max-width: 1024px) {
  .top-wrapper {
    width: calc(100% + 30px);
    margin-left: -15px;
    border-radius: unset;
    flex-direction: column;
    margin-bottom: 0;
  }
}
@media screen and (max-width: 1440px) {
  .top-wrapper.become_partner .top-wrapper__text {
    width: calc(50% - 60px);
    margin-right: 60px;
  }
  .top-wrapper.become_partner .top-wrapper__img {
    padding-right: 0;
  }
}
@media screen and (max-width: 1200px) {
  .top-wrapper.become_partner .top-wrapper__img {
    align-items: flex-end;
  }
}
@media screen and (max-width: 1024px) {
  .top-wrapper.become_partner {
    background-color: transparent;
  }
  .top-wrapper.become_partner .top-wrapper__text {
    background: #DEEBF5;
    width: 100%;
    margin-right: 0;
  }
  .top-wrapper.become_partner .top-wrapper__img {
    background-color: #fff;
  }
}
.top-wrapper__text {
  width: calc(50% - 170px);
  margin-right: 170px;
  padding: 26px 40px 80px;
}
@media screen and (max-width: 1024px) {
  .top-wrapper__text {
    width: 100%;
    margin-right: 0;
    padding: 30px 15px 25px;
  }
}
.top-wrapper__text .breadcrumbs {
  margin-bottom: 50px;
}
.top-wrapper__text .name-page-canada {
  margin-bottom: 15px;
}
.top-wrapper__img {
  width: 50%;
  display: flex;
  vertical-align: bottom;
  padding-right: 45px;
}
@media screen and (max-width: 1024px) {
  .top-wrapper__img {
    width: 100%;
    padding-right: 0;
  }
}
.top-wrapper__img img {
  width: 100%;
}

.text_ul {
  padding-left: 30px;
}
.text_ul.number {
  padding-left: 20px;
}
.text_ul.number li {
  margin-bottom: 0;
  list-style-type: demical;
}
.text_ul.number li:before {
  display: none;
}
.text_ul li {
  list-style: none;
  color: #606B77;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 22px; /* 157.143% */
  letter-spacing: 0.28px;
  margin-bottom: 20px;
  position: relative;
}
@media screen and (max-width: 991px) {
  .text_ul li {
    font-size: 12px;
    line-height: 18px;
    margin-bottom: 10px;
  }
}
.text_ul li:last-of-type {
  margin-bottom: 0;
}
.text_ul li a {
  font-weight: 600;
  color: #2361A9;
}
.text_ul li:before {
  content: "";
  display: block;
  position: absolute;
  top: 5px;
  left: -30px;
  width: 10px;
  height: 10px;
  background-color: #fff;
  border-radius: 50%;
  border: 5px solid #2361A9;
}
@media screen and (max-width: 991px) {
  .text_ul li:before {
    width: 5px;
    height: 5px;
  }
}

.partner-f-wrap {
  display: flex;
  margin-bottom: 30px;
}
@media screen and (max-width: 1024px) {
  .partner-f-wrap {
    width: calc(100% + 30px);
    margin-left: -15px;
    flex-direction: column;
    margin-bottom: 10px;
  }
}
.partner-f-wrap__row {
  width: calc(50% - 15px);
  border-radius: 20px;
  background: #FFF;
  padding: 45px 40px 40px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
@media screen and (max-width: 1024px) {
  .partner-f-wrap__row {
    width: 100%;
    margin-bottom: 10px;
    padding: 30px 15px;
    border-radius: 0;
  }
}
.partner-f-wrap__row:nth-child(2n+1) {
  margin-right: 30px;
}
@media screen and (max-width: 1024px) {
  .partner-f-wrap__row:nth-child(2n+1) {
    margin-right: 0;
  }
}
.partner-f-wrap__row .main-title {
  margin-bottom: 20px;
}
.partner-f-wrap__row .text_ul {
  margin-bottom: 20px;
}
.partner-f-wrap__row .attention {
  display: inline-flex;
  align-items: center;
  border-radius: 8px;
  background: #DEEBF5;
  padding: 12px 34px 10px 12px;
}
@media screen and (max-width: 1024px) {
  .partner-f-wrap__row .attention {
    padding: 12px 13px;
  }
}
.partner-f-wrap__row .attention img {
  width: 32px;
  height: 32px;
  margin-right: 7px;
}
@media screen and (max-width: 1024px) {
  .partner-f-wrap__row .attention img {
    width: 22px;
    height: 22px;
    margin-right: 14px;
  }
}
.partner-f-wrap__row .attention span {
  color: #2361A9;
  font-size: 15px;
  font-style: normal;
  font-weight: 700;
  line-height: 125%; /* 18.75px */
  letter-spacing: 0.15px;
  text-transform: uppercase;
}
@media screen and (max-width: 1024px) {
  .partner-f-wrap__row .attention span {
    font-size: 12px;
  }
}

.partners-bottom {
  display: flex;
  align-items: start;
}
@media screen and (max-width: 1024px) {
  .partners-bottom {
    flex-direction: column;
    width: calc(100% + 30px);
    margin-left: -15px;
  }
}
.partners-bottom__write-to-us {
  width: calc(65% - 30px);
  margin-right: 30px;
  background-color: #FFF;
  border-radius: 20px;
  padding: 30px 40px 40px;
}
@media screen and (max-width: 1024px) {
  .partners-bottom__write-to-us {
    width: 100%;
    margin-right: 0;
    border-radius: 0;
    padding: 30px 15px 35px;
    margin-bottom: 7px;
  }
}
.partners-bottom__write-to-us .main-title {
  margin-bottom: 20px;
}
.partners-bottom__write-to-us .flex-input-row3 {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-column-gap: 30px;
}
@media screen and (max-width: 1024px) {
  .partners-bottom__write-to-us .flex-input-row3 {
    display: block;
    grid-template-columns: unset;
    grid-column-gap: unset;
  }
}
.partners-bottom__write-to-us .form-flex {
  display: flex;
}
@media screen and (max-width: 1024px) {
  .partners-bottom__write-to-us .form-flex {
    flex-direction: column;
  }
}
.partners-bottom__write-to-us .form-flex .form-row {
  width: calc(50% - 8px) !important;
}
@media screen and (max-width: 1024px) {
  .partners-bottom__write-to-us .form-flex .form-row {
    width: 100% !important;
  }
}
.partners-bottom__write-to-us .form-flex .form-row:first-of-type {
  margin-right: 16px;
}
.partners-bottom__write-to-us .input-row {
  display: block;
  width: 100%;
}
.partners-bottom__write-to-us .input-row .name-input {
  display: block;
  color: #2361A9;
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: 109%; /* 13.08px */
  letter-spacing: 0.12px;
  margin-bottom: 5px;
}
.partners-bottom__write-to-us .input-row textarea {
  display: block;
  border: 1px solid #D7D8D9;
  height: 80px;
  border-radius: 20px;
  width: 100%;
  outline: none;
  padding: 12px 18px;
}
.partners-bottom__write-to-us .form-row {
  width: 100%;
  display: block;
  margin-bottom: 24px;
  position: relative;
}
.partners-bottom__write-to-us .form-row.flex_direct {
  display: flex;
  flex-direction: column;
}
.partners-bottom__write-to-us .form-row.flex_direct .error {
  order: 3;
}
@media screen and (max-width: 1024px) {
  .partners-bottom__write-to-us .form-row {
    margin-bottom: 15px;
  }
}
.partners-bottom__write-to-us .form-row .label {
  font-weight: 500;
  font-size: 12px;
  line-height: 109%;
  letter-spacing: 0.01em;
  color: #2361A9;
  margin-bottom: 5px;
  display: block;
}
.partners-bottom__write-to-us .form-row .input {
  outline: none;
  border: 1px solid #D7D8D9;
  border-radius: 100px;
  padding: 14px 20px 14px;
  width: 100%;
  font-weight: 500;
  font-size: 14px;
  line-height: 109%;
  letter-spacing: 0.02em;
  color: rgba(27, 43, 60, 0.6);
}
.partners-bottom__write-to-us .form-row .input.error {
  border: 1px solid #E40137;
}
.partners-bottom__write-to-us .form-row .input.valid {
  background-image: url(../../img/pages2/succsec_circle.svg);
  background-repeat: no-repeat;
  background-size: 20px 20px;
  background-position: 95% center;
}
.partners-bottom__write-to-us .form-row .input::placeholder {
  font-weight: 500;
  font-size: 14px;
  line-height: 109%;
  letter-spacing: 0.02em;
  color: rgba(27, 43, 60, 0.6);
  opacity: 1;
}
.partners-bottom__write-to-us .form-row .select {
  border: 1px solid #D7D8D9;
  background: #fff;
  border-radius: 100px;
  font-weight: 500;
  font-size: 16px;
  line-height: 23px;
  display: flex;
  align-items: center;
  letter-spacing: 0.02em;
  color: #8493A8;
  width: 100%;
  height: 48px;
  padding: 0 18px;
}
.partners-bottom__write-to-us .form-row .select.error ~ .select2-container--default .select2-selection--single {
  border: 1px solid #E40137;
}
.partners-bottom__write-to-us .form-row .select.valid ~ .select2-container--default .select2-selection--single {
  background-image: url(../../img/pages2/succsec_circle.svg);
  background-repeat: no-repeat;
  background-size: 20px 20px;
  background-position: 92% center;
}
.partners-bottom__write-to-us .form-row option {
  font-weight: 500;
  font-size: 16px;
  line-height: 23px;
  display: flex;
  align-items: center;
  letter-spacing: 0.02em;
  color: #8493A8;
}
.partners-bottom__send {
  width: 35%;
  border-radius: 20px;
  background: #FFF;
  padding: 30px 40px 40px;
}
@media screen and (max-width: 1024px) {
  .partners-bottom__send {
    width: 100%;
    border-radius: 0;
    padding: 30px 15px 25px;
  }
}
.partners-bottom__send .name-page-canada {
  margin-bottom: 25px;
}
@media screen and (max-width: 1024px) {
  .partners-bottom__send .name-page-canada {
    margin-bottom: 20px;
  }
}
.partners-bottom__send-contact {
  border-radius: 20px;
  background: #DEEBF5;
  padding: 25px 35px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin-bottom: 10px;
}
@media screen and (max-width: 1024px) {
  .partners-bottom__send-contact {
    padding: 20px 0;
  }
}
.partners-bottom__send-contact:last-of-type {
  margin-bottom: 0;
}
.partners-bottom__send-contact a {
  color: #0061AF;
  font-size: 17px;
  font-style: normal;
  font-weight: 700;
  line-height: 20px; /* 117.647% */
  letter-spacing: 0.34px;
  text-decoration-line: underline;
}
@media screen and (max-width: 1440px) {
  .partners-bottom__send-contact a {
    font-size: 14px;
  }
}

.div-end {
  display: flex;
  justify-content: end;
}
.div-end .btn {
  width: 190px;
  justify-content: space-between;
}

body .select2-container {
  width: 100% !important;
}

body .select2-container--default .select2-selection--single {
  background-color: #fff;
  border: 1px solid #D7D8D9;
  border-radius: 24px;
  height: 48px;
}

body .select2-container--default .select2-selection--single {
  height: 43px;
}

body .select2-container--default .select2-selection--single .select2-selection__arrow {
  top: 16px;
}

body .select2-container--default .select2-selection--single .select2-selection__rendered {
  padding: 10px 16px;
  font-weight: 500;
  font-size: 14px;
  line-height: 109%;
  letter-spacing: 0.02em;
  color: rgba(27, 43, 60, 0.6);
  display: flex;
  align-items: center;
  height: 100%;
}

body .select2-container--default .select2-selection--single .select2-selection__rendered::placeholder {
  padding: 10px 16px;
  font-weight: 500;
  font-size: 14px;
  line-height: 109%;
  display: flex;
  align-items: center;
  letter-spacing: 0.02em;
  color: rgba(27, 43, 60, 0.6);
}

body .select2-container--default .select2-selection--single .select2-selection__arrow {
  top: 17px;
  right: 16px;
  width: 16px;
  height: 16px;
}

body .select2-container--default .select2-selection--single .select2-selection__arrow b {
  background-image: url(../../img/pages2/arrow_select.svg);
  background-repeat: no-repeat;
  background-position: 96% center;
  border-color: unset;
  border-style: unset;
  height: 7px;
  width: 12px;
  transform: translateY(-50%);
}

body .select2-dropdown {
  background: #EFF1F4;
  box-shadow: 0px 6px 22px rgba(64, 98, 145, 0.16);
  border-radius: 10px;
  border: unset;
  padding: 5px;
  border-radius: 10px;
}

body .select2-container--default .select2-search--dropdown .select2-search__field {
  border: unset;
  display: none;
  padding: 0;
}

body .select2-container--default .select2-results__option--highlighted.select2-results__option--selectable {
  background-color: #5897fb;
  color: white;
  background: #2361A9;
  border-radius: 10px;
}

body .select2-results__option {
  padding: 6px;
  user-select: none;
  -webkit-user-select: none;
  background: #FFFFFF;
  border-radius: 10px;
  padding: 5px 8px;
  margin-bottom: 4px;
  font-weight: 500;
  font-size: 13px;
  line-height: 24px;
  display: flex;
  align-items: center;
  letter-spacing: 0.02em;
  color: #303A45;
}

#phone-input-error {
  position: absolute;
  left: 0;
  top: 100%;
}

.custom_chekbox.canada {
  margin: 20px 0 30px;
  display: block;
  position: relative;
  padding-left: 40px;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.custom_chekbox.canada input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}
@media screen and (max-width: 991px) {
  .custom_chekbox.canada .checkmark {
    width: 26px;
    height: 26px;
  }
  .custom_chekbox.canada .text {
    padding: unset;
  }
}
.custom_chekbox.canada .checkmark {
  position: absolute;
  top: -3px;
  left: 0;
  height: 30px;
  width: 30px;
  background-color: transparent;
  border: 1px solid #D7D8D9;
  border-radius: 8px;
}
.custom_chekbox.canada .text {
  color: rgba(27, 43, 60, 0.5);
  font-size: 13px;
  font-style: normal;
  font-weight: 500;
  line-height: 20px; /* 153.846% */
  letter-spacing: 0.26px;
  padding: unset;
}
.custom_chekbox.canada .text a {
  color: #0860C7;
  font-weight: 700;
}

.custom_chekbox.canada input:checked ~ .checkmark {
  background-color: rgb(35, 97, 169);
  border: unset;
}

.custom_chekbox.canada input:checked ~ .checkmark:after {
  display: block;
}

.custom_chekbox.canada .checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

.custom_chekbox.canada .checkmark:after {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 14px;
  height: 10px;
  background: url(../../img/pages2/icon_check.svg);
  background-position: center;
  background-repeat: no-repeat;
}

.error {
  font-size: 12px;
  color: red;
  display: block;
}

.iti--separate-dial-code .iti__selected-flag {
  background-color: unset !important;
  border-right: 1px solid #D7D8D9;
  padding: 0 3px 0 8px !important;
}

.iti--separate-dial-code.iti--show-flags .iti__selected-dial-code {
  font-weight: 500;
  font-size: 12px;
  line-height: 109%;
  letter-spacing: 0.02em;
  color: #1B2B3C;
  margin-left: 10px;
}

.iti__arrow {
  margin-right: 10px;
  margin-left: 15px !important;
  width: 12px !important;
  height: 7px !important;
  background-image: url(../../img/arrow_phone_select.svg);
  background-repeat: no-repeat;
  border-left: unset !important;
  border-right: unset !important;
  border-top: unset !important;
}

.iti {
  display: block !important;
}

.iti__arrow--up {
  border-bottom: unset !important;
}

.iti--allow-dropdown .iti__flag-container, .iti--separate-dial-code .iti__flag-container {
  border-right: 1px solid #D7D8D9;
  padding: unset !important;
}