.vacancies-town-wrap {
  margin-bottom: 40px;
}
@media screen and (max-width: 1024px) {
  .vacancies-town-wrap {
    margin-bottom: 30px;
  }
}
.vacancies-town-wrap .main-title {
  margin-bottom: 20px;
}

.vacancies-wrapper {
  display: flex;
  width: 100%;
}
@media screen and (max-width: 1024px) {
  .vacancies-wrapper {
    max-width: 1024px;
    overflow-x: scroll;
    padding-bottom: 20px;
  }
}
.vacancies-wrapper__row {
  width: calc(33.3333333333% - 16.6px);
  margin-right: 25px;
  border-radius: 20px;
  background: #F8F9FA;
  padding: 30px 40px 35px 30px;
}
@media screen and (max-width: 1024px) {
  .vacancies-wrapper__row {
    width: 70%;
    flex: 0 0 auto;
    padding: 25px 20px 25px 25px;
    margin-right: 20px;
  }
}
@media screen and (max-width: 425px) {
  .vacancies-wrapper__row {
    width: 85%;
  }
}
.vacancies-wrapper__row:last-of-type {
  margin-right: 0;
}
.vacancies-wrapper__row .title-vacancies {
  color: #2361A9;
  font-size: 17px;
  font-style: normal;
  font-weight: 700;
  line-height: 140%; /* 23.8px */
  letter-spacing: -0.17px;
  text-transform: uppercase;
  margin-bottom: 10px;
}
@media screen and (max-width: 1024px) {
  .vacancies-wrapper__row .title-vacancies {
    font-size: 14px;
  }
}
.vacancies-wrapper__row .date {
  color: #2361A9;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 135%;
  margin-bottom: 12px;
  display: block;
}
@media screen and (max-width: 1024px) {
  .vacancies-wrapper__row .date {
    font-size: 12px;
  }
}
.vacancies-wrapper__row .d-flex {
  margin-bottom: 30px;
}
@media screen and (max-width: 1024px) {
  .vacancies-wrapper__row .d-flex {
    margin-bottom: 20px;
  }
}
.vacancies-wrapper__row .d-flex .descr-vac-info:first-of-type {
  margin-right: 20px;
}
@media screen and (max-width: 425px) {
  .vacancies-wrapper__row .d-flex .descr-vac-info:first-of-type {
    margin-right: 10px;
  }
}
.vacancies-wrapper__row .btn svg {
  margin-left: 10px;
}

.carrer-part {
  border-radius: 20px;
  background: #FFF;
  padding: 40px;
}
@media screen and (max-width: 1024px) {
  .carrer-part {
    width: calc(100% + 30px);
    margin-left: -15px;
    border-radius: 0;
    padding: 50px 0 20px 15px;
  }
}

.carrer-offer-wrap {
  display: flex;
  margin-bottom: 30px;
}
@media screen and (max-width: 1024px) {
  .carrer-offer-wrap {
    flex-direction: column;
    width: calc(100% + 30px);
    margin-left: -15px;
    margin-bottom: 10px;
  }
}
.carrer-offer-wrap__row {
  width: calc(65% - 30px);
  margin-right: 30px;
  border-radius: 20px;
  background: #FFF;
  padding: 30px 40px 65px;
}
@media screen and (max-width: 1024px) {
  .carrer-offer-wrap__row {
    width: 100%;
    margin-right: 0;
    border-radius: 0;
    margin-bottom: 10px;
    padding: 40px 15px 30px;
  }
}
.carrer-offer-wrap__row .main-title {
  margin-bottom: 20px;
}
.carrer-offer-wrap__send {
  width: 35%;
  border-radius: 20px;
  background: #FFF;
  padding: 30px 40px 40px;
}
@media screen and (max-width: 1024px) {
  .carrer-offer-wrap__send {
    width: 100%;
    border-radius: 0;
    padding: 40px 15px 30px;
  }
}
.carrer-offer-wrap__send .fs20 {
  margin-bottom: 10px;
}
@media screen and (max-width: 1024px) {
  .carrer-offer-wrap__send .fs20 {
    margin-bottom: 15px;
  }
}
.carrer-offer-wrap__send .description {
  margin-bottom: 20px;
}
.carrer-offer-wrap__send .btn {
  width: 100%;
  justify-content: space-between;
}