.gifts-heading-wrap {
  border-radius: 20px;
  background: #FFF;
}
@media screen and (max-width: 1024px) {
  .gifts-heading-wrap {
    width: calc(100% + 30px);
    margin-left: -15px;
    max-width: unset;
    border-radius: unset;
    margin-bottom: 10px;
  }
}
.gifts-heading-wrap .breadcrumbs {
  display: none;
}
@media screen and (max-width: 1024px) {
  .gifts-heading-wrap .breadcrumbs {
    display: flex;
    margin: 30px 0 20px 15px;
  }
}
.gifts-heading-wrap__img {
  border-radius: 20px 20px 0px 0px;
}
@media screen and (max-width: 1024px) {
  .gifts-heading-wrap__img {
    border-radius: unset;
  }
}
.gifts-heading-wrap__img img {
  width: 100%;
}
.gifts-heading-wrap__text {
  padding: 30px 40px 40px;
}
@media screen and (max-width: 991px) {
  .gifts-heading-wrap__text {
    padding: 20px 15px;
  }
}
.gifts-heading-wrap__text-inner {
  width: 75%;
}
@media screen and (max-width: 1200px) {
  .gifts-heading-wrap__text-inner {
    width: 100%;
  }
}
.gifts-heading-wrap__text-inner .main-title {
  margin-bottom: 10px;
}

.how-work-wrapper {
  border-radius: 20px;
  background: #FFF;
  padding: 30px 40px 40px;
}
@media screen and (max-width: 1024px) {
  .how-work-wrapper {
    width: calc(100% + 30px);
    margin-left: -15px;
    border-radius: unset;
    padding: 30px 15px;
  }
}
.how-work-wrapper__heading {
  color: #2361A9;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: 109%; /* 21.8px */
  letter-spacing: -0.2px;
  text-transform: uppercase;
  margin-bottom: 22px;
}
.how-work-wrapper .description {
  margin-bottom: 20px;
}
.how-work-wrapper .description:last-of-type {
  margin-bottom: 0;
}
@media screen and (max-width: 1024px) {
  .how-work-wrapper .description {
    margin-bottom: 15px;
  }
}

.purchases-wrapper {
  display: flex;
  width: 100%;
  margin-bottom: 40px;
  margin-top: 20px;
}
@media screen and (max-width: 1440px) {
  .purchases-wrapper {
    width: calc(100% + 10px);
    margin-left: -10px;
  }
}
@media screen and (max-width: 991px) {
  .purchases-wrapper {
    margin-bottom: 10px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 55%;
    margin: 10px auto 0px;
  }
}
.purchases-wrapper__item {
  width: calc(33.3333333333% - 37.3px);
  margin-right: 56px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.purchases-wrapper__item:nth-child(3n-3) {
  margin-right: 0;
}
@media screen and (max-width: 1440px) {
  .purchases-wrapper__item {
    width: calc(33.3333333333% - 6.6px);
    margin-right: 10px;
  }
}
@media screen and (max-width: 991px) {
  .purchases-wrapper__item {
    width: 100%;
    margin-right: 0;
    margin-bottom: 30px;
  }
}
.purchases-wrapper__img {
  width: 100%;
  margin-bottom: 20px;
}
.purchases-wrapper__img img {
  width: 100%;
}
.purchases-wrapper .btn {
  align-items: center;
  justify-content: center;
  text-align: center;
}
@media screen and (max-width: 1200px) {
  .purchases-wrapper .btn {
    padding: 10px 25px;
  }
}

.text-wrap-purchases {
  margin-bottom: 25px;
}
@media screen and (max-width: 991px) {
  .text-wrap-purchases {
    margin-bottom: 20px;
  }
}
.text-wrap-purchases__title {
  color: #0056A4;
  font-size: 17px;
  font-style: normal;
  font-weight: 600;
  line-height: 25px; /* 147.059% */
  letter-spacing: 0.17px;
  margin-bottom: 20px;
}
@media screen and (max-width: 991px) {
  .text-wrap-purchases__title {
    font-size: 14px;
    line-height: 18px;
    margin-bottom: 10px;
  }
}

.text_ul {
  padding-left: 30px;
}
.text_ul.number {
  padding-left: 20px;
}
.text_ul.number li {
  margin-bottom: 0;
  list-style-type: demical;
}
.text_ul.number li:before {
  display: none;
}
.text_ul li {
  list-style: none;
  color: #606B77;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 22px; /* 157.143% */
  letter-spacing: 0.28px;
  margin-bottom: 20px;
  position: relative;
}
@media screen and (max-width: 991px) {
  .text_ul li {
    font-size: 12px;
    line-height: 18px;
    margin-bottom: 10px;
  }
}
.text_ul li:last-of-type {
  margin-bottom: 0;
}
.text_ul li a {
  font-weight: 600;
  color: #2361A9;
}
.text_ul li:before {
  content: "";
  display: block;
  position: absolute;
  top: 5px;
  left: -30px;
  width: 10px;
  height: 10px;
  background-color: #fff;
  border-radius: 50%;
  border: 5px solid #2361A9;
}
@media screen and (max-width: 991px) {
  .text_ul li:before {
    width: 5px;
    height: 5px;
  }
}