@import "../global/mixins";
.top-wrapper{
    border-radius: 20px;
    background: #DEEBF5;
    display: flex;
    margin-bottom: 30px;
    @include maxWidth1024(){
      width: calc(100% + 30px);
      margin-left: -15px;
      border-radius: unset;
      flex-direction: column;
      margin-bottom: 0;
    }
    &.become_partner{
      @include maxWidth1440(){
        .top-wrapper__text{
          width: calc(50% - 60px);
          margin-right: 60px;
        }
        .top-wrapper__img{
          padding-right: 0;
        }
      }
      @include maxWidth1200(){
        .top-wrapper__img{
          align-items: flex-end;
        }
      }
      @include maxWidth1024(){
        background-color: transparent;
        .top-wrapper__text{
          background: #DEEBF5;
          width: 100%;
          margin-right: 0;
        }
        .top-wrapper__img{
          background-color: #fff;
        }
      }
    }
    &__text{
        width: calc(50% - 170px);
        margin-right: 170px;
        padding: 26px 40px 80px;
        @include maxWidth1024(){
          width: 100%;
          margin-right: 0;
          padding: 30px 15px 25px;
        }
        .breadcrumbs{
            margin-bottom: 50px;
        }
        .name-page-canada{
            margin-bottom: 15px;
        }
    }
    &__img{
        width: 50%;
        display: flex;
        vertical-align: bottom;
        padding-right: 45px;
        @include maxWidth1024(){
          width: 100%;
          padding-right: 0;
        }
        img{
            width: 100%;
        }
    }
}
.text_ul{
    padding-left: 30px;
    &.number{
      padding-left: 20px;
      li{
        margin-bottom: 0;
        list-style-type: demical;
        &:before{
          display: none;
        }
      }
    }
    li{
      list-style: none;
      color: #606B77;
      font-size: 14px;
      font-style: normal;
      font-weight: 500;
      line-height: 22px; /* 157.143% */
      letter-spacing: 0.28px;
      margin-bottom: 20px;
      position: relative;
      @include maxWidth991(){
        font-size: 12px;
        line-height: 18px; 
        margin-bottom: 10px;
      }
      &:last-of-type{
        margin-bottom: 0;
      }
      a{
        font-weight: 600;
        color: #2361A9;
      }
      &:before{
        content: "";
        display: block;
        position: absolute;
        top: 5px;
        left: -30px;
        // transform: translateY(-50%);
        width: 10px;
        height: 10px;
        background-color: #fff;
        border-radius: 50%;
        border: 5px solid #2361A9;
        @include maxWidth991(){
            width: 5px;
            height: 5px;
        }
      }
    }
}
.partner-f-wrap{
    display: flex;
    margin-bottom: 30px;
    @include maxWidth1024(){
        width: calc(100% + 30px);
        margin-left: -15px;
        flex-direction: column;
        margin-bottom: 10px;
    }
    &__row{
        width: calc(50% - 15px);
        border-radius: 20px;
        background: #FFF;
        padding: 45px 40px 40px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        @include maxWidth1024(){
            width: 100%;
            margin-bottom: 10px;
            padding: 30px 15px;
            border-radius: 0;
        }
        &:nth-child(2n + 1){
            margin-right: 30px;
            @include maxWidth1024(){
                margin-right: 0;
            }
        }
        .main-title{
            margin-bottom: 20px;
        }
        .text_ul{
            margin-bottom: 20px;
        }
        .attention{
            display: inline-flex;
            align-items: center;
            border-radius: 8px;
            background: #DEEBF5;
            padding: 12px 34px 10px 12px;
            @include maxWidth1024(){
                padding: 12px 13px;
            }
            img{
                width: 32px;
                height: 32px;
                margin-right: 7px;
                @include maxWidth1024(){
                    width: 22px;
                    height: 22px;
                    margin-right: 14px;
                }
            }
            span{
                color: #2361A9;
                font-size: 15px;
                font-style: normal;
                font-weight: 700;
                line-height: 125%; /* 18.75px */
                letter-spacing: 0.15px;
                text-transform: uppercase;
                @include maxWidth1024(){
                    font-size: 12px;
                }
            }
        }
    }
}
.partners-bottom{
    display: flex;
    align-items: start;
    @include maxWidth1024(){
        flex-direction: column;
        width: calc(100% + 30px);
        margin-left: -15px;
    }
    &__write-to-us{
        width: calc(65% - 30px);
        margin-right: 30px;
        background-color: #FFF;
        border-radius: 20px;
        padding: 30px 40px 40px;
        @include maxWidth1024(){
            width: 100%;
            margin-right: 0;
            border-radius: 0;
            padding: 30px 15px 35px;
            margin-bottom: 7px;
        }
        .main-title{
            margin-bottom: 20px;
        }
        .flex-input-row3{
            display: grid;
            grid-template-columns: 1fr 1fr 1fr;
            grid-column-gap: 30px;
            @include maxWidth1024(){
                display: block;
                grid-template-columns: unset;
                grid-column-gap: unset;
            }
        }
        .form-flex{
            display: flex;
            @include maxWidth1024(){
                flex-direction: column;
            }
            .form-row{
                width: calc(50% - 8px)!important;
                @include maxWidth1024(){
                    width: 100%!important;
                }
                &:first-of-type{
                    margin-right: 16px;
                }
            }
        }
        .input-row{
            display: block;
            width: 100%;
            .name-input{
                display: block;
                color: #2361A9;
                font-size: 12px;
                font-style: normal;
                font-weight: 500;
                line-height: 109%; /* 13.08px */
                letter-spacing: 0.12px;
                margin-bottom: 5px;
            }
            textarea{
                display: block;
                border: 1px solid #D7D8D9;
                height: 80px;
                border-radius: 20px;
                width: 100%;
                outline: none;
                padding: 12px 18px;
            }
        }
        .form-row{
            width: 100%;
            display: block;
            margin-bottom: 24px;
            position: relative;
            &.flex_direct{
                display: flex;
                flex-direction: column;
                .error{
                    order: 3;
                }
            }
            @include maxWidth1024(){
                margin-bottom: 15px;
            }
            .label{
                font-weight: 500;
                font-size: 12px;
                line-height: 109%;
                letter-spacing: 0.01em;
                color: #2361A9;
                margin-bottom: 5px;
                display: block;
            }
            .input{
                // display: block;
                outline: none;
                border: 1px solid #D7D8D9;
                border-radius: 100px;
                padding: 14px 20px 14px;
                width: 100%;
                font-weight: 500;
                font-size: 14px;
                line-height: 109%;
                letter-spacing: 0.02em;
                color: rgba(27, 43, 60, 0.6);
                &.error{
                    border: 1px solid #E40137;
                }
                &.valid{
                    background-image: url(../../img/pages2/succsec_circle.svg);
                    background-repeat: no-repeat;
                    background-size: 20px 20px;
                    background-position: 95% center;
                }
                &::placeholder{
                    font-weight: 500;
                    font-size: 14px;
                    line-height: 109%;
                    letter-spacing: 0.02em;
                    color: rgba(27, 43, 60, 0.6);
                    opacity: 1;
              }
            }
            .select{
                border: 1px solid #D7D8D9;
                background: #fff;
                border-radius: 100px;
                font-weight: 500;
                font-size: 16px;
                line-height: 23px;
                display: flex;
                align-items: center;
                letter-spacing: 0.02em;
                color: #8493A8;
                width: 100%;
                height: 48px;
                padding: 0 18px;
                &.error ~ .select2-container--default .select2-selection--single{
                    border: 1px solid #E40137;
                }
                &.valid ~ .select2-container--default .select2-selection--single{
                    background-image: url(../../img/pages2/succsec_circle.svg);
                    background-repeat: no-repeat;
                    background-size: 20px 20px;
                    background-position: 92% center;
                }
              }
              option{
                font-weight: 500;
                font-size: 16px;
                line-height: 23px;
                display: flex;
                align-items: center;
                letter-spacing: 0.02em;
                color: #8493A8;
              }
        }
    }
    &__send{
        width: 35%;
        border-radius: 20px;
        background: #FFF;
        padding: 30px 40px 40px;
        @include maxWidth1024(){
            width: 100%;
            border-radius: 0;
            padding: 30px 15px 25px;
        }
        .name-page-canada{
            margin-bottom: 25px;
            @include maxWidth1024(){
                margin-bottom: 20px;
            }
        }
    }
    &__send-contact{
        border-radius: 20px;
        background: #DEEBF5;
        padding: 25px 35px;
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
        margin-bottom: 10px;
        @include maxWidth1024(){
            padding: 20px 0;
        }
        &:last-of-type{
            margin-bottom: 0;
        }
        a{
            color: #0061AF;
            font-size: 17px;
            font-style: normal;
            font-weight: 700;
            line-height: 20px; /* 117.647% */
            letter-spacing: 0.34px;
            text-decoration-line: underline;
            @include maxWidth1440(){
                font-size: 14px;
            }
        }
    }
}
.div-end{
    display: flex;
    justify-content: end;
    .btn{
        width: 190px;
        justify-content: space-between;
    }
}
body .select2-container{
    width: 100%!important;
  }
  
  
  body .select2-container--default .select2-selection--single {
    background-color: #fff;
    border: 1px solid #D7D8D9;
    border-radius: 24px;
    height: 48px;
  }
  
  body .select2-container--default .select2-selection--single{
    height: 43px;
  }
  
  body .select2-container--default .select2-selection--single .select2-selection__arrow{
    top: 16px;
  }
  
  body .select2-container--default .select2-selection--single .select2-selection__rendered{
    padding: 10px 16px;
    font-weight: 500;
    font-size: 14px;
    line-height: 109%;
    letter-spacing: 0.02em;
    color: rgba(27, 43, 60, 0.6);
    display: flex;
    align-items: center;
    height: 100%;
  }
  
  body .select2-container--default .select2-selection--single .select2-selection__rendered::placeholder{
    padding: 10px 16px;
    font-weight: 500;
    font-size: 14px;
    line-height: 109%;
    display: flex;
    align-items: center;
    letter-spacing: 0.02em;
    color: rgba(27, 43, 60, 0.6);
  }
  
  body .select2-container--default .select2-selection--single .select2-selection__arrow {
    top: 17px;
    right: 16px;
    width: 16px;
    height: 16px;
  }
  
  body .select2-container--default .select2-selection--single .select2-selection__arrow b{
    background-image: url(../../img/pages2/arrow_select.svg);
    background-repeat: no-repeat;
    background-position: 96% center;
    border-color: unset;
    border-style: unset;
    height: 7px;
    width: 12px;
    transform: translateY(-50%);
  }
  
  body .select2-dropdown{
    background: #EFF1F4;
    box-shadow: 0px 6px 22px rgba(64, 98, 145, 0.16);
    border-radius: 10px;
    border: unset; 
    padding: 5px;
    border-radius: 10px;
  }
  
  body .select2-container--default .select2-search--dropdown .select2-search__field {
    border: unset;
    display: none;
    padding: 0;
  }
  
  body .select2-container--default .select2-results__option--highlighted.select2-results__option--selectable {
    background-color: #5897fb;
    color: white;
    background: #2361A9;
    border-radius: 10px;
  }
  
  body .select2-results__option {
    padding: 6px;
    user-select: none;
    -webkit-user-select: none;
    background: #FFFFFF;
    border-radius: 10px;
    padding: 5px 8px;
    margin-bottom: 4px;
    font-weight: 500;
    font-size: 13px;
    line-height: 24px;
    display: flex;
    align-items: center;
    letter-spacing: 0.02em;
    color: #303A45;
  }
  #phone-input-error{
    position: absolute;
    left: 0;
    top: 100%;
  }
  .custom_chekbox.canada{
    margin: 20px 0 30px;
      display: block;
      position: relative;
      padding-left: 40px;
      cursor: pointer;
      -webkit-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
      user-select: none;
      input{
          position: absolute;
            opacity: 0;
            cursor: pointer;
            height: 0;
            width: 0;
      }
    @include maxWidth991(){
      .checkmark{
        width: 26px;
        height: 26px;
      }
      .text{
          padding: unset;
      }
    }
      .checkmark {
          position: absolute;
          top: -3px;
          left: 0;
          height: 30px;
          width: 30px;
          background-color: transparent;
          border: 1px solid #D7D8D9;
          border-radius: 8px;
      }
      .text{
          color: rgba(27, 43, 60, 0.50);
          font-size: 13px;
          font-style: normal;
          font-weight: 500;
          line-height: 20px; /* 153.846% */
          letter-spacing: 0.26px;
          padding: unset;
          a{
              color: #0860C7;
              font-weight: 700;
          }
      }
  }
  .custom_chekbox.canada input:checked ~ .checkmark{
      background-color: rgba(35, 97, 169, 1);
      border: unset;
  
  }
  .custom_chekbox.canada input:checked ~ .checkmark:after {
      display: block;
  }
  .custom_chekbox.canada .checkmark:after {
      content: "";
      position: absolute;
      display: none;
  }
  .custom_chekbox.canada .checkmark:after {
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: 14px;
      height: 10px;
      background: url(../../img/pages2/icon_check.svg);
      background-position: center;
      background-repeat: no-repeat;
  }
  .error{
    font-size: 12px;
    color: red;
    display: block;
  }
  .iti--separate-dial-code .iti__selected-flag {
    background-color: unset!important;
    border-right: 1px solid #D7D8D9;
    padding: 0 3px 0 8px!important;
  }
  
  .iti--separate-dial-code.iti--show-flags .iti__selected-dial-code {
    font-weight: 500;
    font-size: 12px;
    line-height: 109%;
    letter-spacing: 0.02em;
    color: #1B2B3C;
    margin-left: 10px;
  }
  
  .iti__arrow {
    margin-right: 10px;
    margin-left: 15px!important;
    width: 12px!important;
    height: 7px!important;
    background-image: url(../../img/arrow_phone_select.svg);
    background-repeat: no-repeat;
    border-left: unset!important;
    border-right: unset!important;
    border-top: unset!important;
  }
  
  .iti {
    display: block!important;
  }
  
  .iti__arrow--up {
    border-bottom: unset!important;
  }
  
  .iti--allow-dropdown .iti__flag-container, .iti--separate-dial-code .iti__flag-container {
    border-right: 1px solid #D7D8D9;
    padding: unset!important;
  }
  
  
