@import '../global/app';
.cards-wrapper{
    display: flex;
    flex-flow: row;
    flex-wrap: wrap;
    width: calc(100% + 21px);
    margin-left: -21px;
}
.card-row{
    width: calc(50% - 21px);
    margin-left: 21px;
    padding: 21px 31px 22px;
    border-radius: 20px;
    background: #FFF;
    margin-bottom: 20px;
    &__img{
        width: 150px;
        height: 85px;
        margin-bottom: 18px;
    }
    &__heading{
        color: #2361A9;
        font-size: 20px;
        font-style: normal;
        font-weight: 700;
        line-height: 135%; /* 27px */
        letter-spacing: 0.4px;
        text-transform: uppercase;
        margin-bottom: 10px;
    }
    &__description{
        margin-bottom: 15px;
        color: #606B77;
        font-size: 14px;
        font-style: normal;
        font-weight: 500;
        line-height: 22px; /* 157.143% */
        letter-spacing: 0.28px;
    }
}
