@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap');
@import '../global/appNew';
body{
  background: #f8f9fa;
}
*{
    font-family: "Montserrat";
    box-sizing: border-box;
    margin: 0; 
}
.bb {
  border-bottom: 1px solid #D8E0EB;
}
.d-flex{
  display: flex;
}
.jc-sb{
  justify-content: space-between;
}
.bcg_light_blue{
  background: #DEEBF5;
}
.name-page-canada{
    font-weight: 700;
    font-size: 32px;
    line-height: 120%;
    letter-spacing: 0.32px;
    text-transform: uppercase;
    color: #2361A9;
}
.description{
    color: #606B77;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 22px; /* 157.143% */
    letter-spacing: 0.28px;
    a{
      color: #0061AF;
      font-weight: 600;
    }
    @include maxWidth768(){
      font-size: 12px;
      line-height: 18px;
    }
  }
  .main-title{
    color: #0056A4;
    font-size: 27px;
    font-style: normal;
    font-weight: 700;
    line-height: 135%; /* 36.45px */
    letter-spacing: 0.54px;
    text-transform: uppercase;
    @include maxWidth768(){
      font-size: 20px;
      line-height: 120%;
    }
  }
  .text_ul{
    padding-left: 30px;
    &.number{
      padding-left: 20px;
      li{
        margin-bottom: 0;
        list-style-type: demical;
        &:before{
          display: none;
        }
      }
    }
    li{
      list-style: none;
      color: #606B77;
      font-size: 14px;
      font-style: normal;
      font-weight: 500;
      line-height: 22px; /* 157.143% */
      letter-spacing: 0.28px;
      margin-bottom: 20px;
      position: relative;
      &:last-of-type{
        margin-bottom: 0;
      }
      a{
        font-weight: 600;
      }
      &:before{
        content: "";
        display: block;
        position: absolute;
        top: 5px;
        left: -30px;
        // transform: translateY(-50%);
        width: 10px;
        height: 10px;
        background-color: #fff;
        border-radius: 50%;
        border: 5px solid #2361A9;
      }
    }
  }
  .cards-wrapper{
    display: flex;
    flex-flow: row;
    flex-wrap: wrap;
    width: calc(100% + 21px);
    margin-left: -21px;
    @include maxWidth1150(){
      width: 100%;
      margin-left: 0;
    }
  }
  .card-row{
    width: calc(50% - 21px);
    margin-left: 21px;
    padding: 21px 31px 22px;
    border-radius: 20px;
    background: #FFF;
    margin-bottom: 20px;
    @include maxWidth1150(){
      width: 100%;
      margin-left: 0;
    }
    &__inner{
      width: 70%;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      height: 100%;
    }
    &__img{
        width: 150px;
        height: 85px;
        margin-bottom: 18px;
    }
    &__text{
      width: 70%;
      @include maxWidth1440(){
        width: 85%;
      }
      @include maxWidth1200(){
        width: 100%;
      }
    }
    &__heading{
        color: #2361A9;
        font-size: 20px;
        font-style: normal;
        font-weight: 700;
        line-height: 135%; /* 27px */
        letter-spacing: 0.4px;
        text-transform: uppercase;
        margin-bottom: 10px;
        @include maxWidth991(){
          font-size: 17px;
          line-height: 135%; /* 22.95px */
          letter-spacing: 0.34px;
        }
    }
    .description{
        margin-bottom: 15px;
    }
    .btn{
      @include maxWidth1200(){
        font-size: 12px;
      }
      .img{
        @include maxWidth1200(){
          margin-left: 25px;
        }
      }
    }
  }
  .navigation-tabs{
    display: flex;
    padding-left: 0;
    overflow-y: scroll;
    max-width: 100%;
    -ms-overflow-style: none;  /* Internet Explorer 10+ */
    scrollbar-width: none;
    &::-webkit-scrollbar { 
      display: none; 
    }
    @include maxWidth1024() {
      &::-webkit-scrollbar { 
        display: none;  /* Safari and Chrome */
      }
    }
    @include maxWidth991() {
      max-width: 1055px;
      overflow-x: scroll;
      scrollbar-width: none;
      -ms-overflow-style: none;
      border-top: 1px solid #C8DAEC;
      border-bottom: 1px solid #C8DAEC;
      width: calc(100% + 30px);
      margin-left: -15px;
      padding-top: 18px;
      padding-left: 15px;
      .item_menu_navigations{
        margin-right: 20px;
        white-space: nowrap;
          a {
            font-size: 12px;
          }
      }
    }
    &__tab{
      white-space: nowrap;
      list-style: none;
      margin-right: 30px;
      margin-bottom: 15px;
      position: relative;
      @include maxWidth1200() {
        margin-right: 20px;
        a {
          font-size: 14px;
        }
        &:after{
          top: 160%;
        }
      }
      &:last-of-type{
        margin-right: 0;
      }
      &:hover:after{
        width: 100%;
      }
      &:after{
        content: "";
        position: absolute;
        display: block;
        top: 162%; 
        left: 0;
        width: 0;
        height: 2px;
        background: #2361A9;
      }
      &.active:after{
        width: 100%;
      }
      a{
        font-weight: 700;
        font-size: 13px;
        line-height: 160%;
        text-transform: uppercase;
        color: #2361A9;
        text-decoration: none;
      }
    }
  }
  .main-card{
    padding: 26px 30px;
    background-color: #FFF;
    border-radius: 20px;
    margin-bottom: 20px;
    @include maxWidth1024(){
      width: calc(100% + 30px);
      margin-left: -15px;
      border-radius: 0;
      padding: 30px 15px 25px;
      flex-direction: column;
    }
    &.navgtn{
      padding: 35px 40px 0;
      @include maxWidth1024(){
        padding: 30px 15px 0;
      }
    }
    &.eCom{
      .main-card__f-wrap{
        margin-bottom: 0;
      }
    }
    .breadcrumbs{
        display: none;
        margin-bottom: 20px;
        @include maxWidth1024(){
          display: flex;
        }
    }
    &__f-wrap{
      display: flex;
      align-items: center;
      margin-bottom: 20px;
      @include maxWidth1024(){
        flex-direction: column;
        align-items: start;
      }
    }
    &__inner{
        display: flex;
    }
    &__icon{
      width: 150px;
      height: 85px;
      display: block;
      margin-right: 25px;
      @include maxWidth1024(){
        margin-right: 0;
        margin-bottom: 20px;
      }
    }
    &__img{
        width: calc(30% - 10px);
        margin-right: 10px;
        @include maxWidth1024(){
          width: 175px;
          height: 110px;
          margin-right: 0;
          margin-bottom: 18px;
        }
        img{
          width: 100%;
        }
    }
    &__text{
        width: 70%;
        @include maxWidth1024(){
          width: 100%;
        }
        .main-title{
            margin-bottom: 10px;
        }
        .description{
            width: 60%;
            @include maxWidth1024(){
              width: 100%;
            }
        }
    }
  }
  .page{
    .service_page{
      &__column{
        &--menu{
          .breadcrumbs{
            @include maxWidth1024(){
              display: none;
            }
          }
        }
      }
    }
  }