@import "~select2/dist/css/select2.min.css";
.rate_calculator__form__label, .form label {
  max-height: 15px;
  overflow: hidden;
  color: #2361A9;
  font-family: Montserrat;
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: 109%; /* 15.26px */
  letter-spacing: 0.14px;
}
@media (max-width: 1024px) {
  .rate_calculator__form__label, .form label {
    font-size: 12px;
    letter-spacing: 0.12px;
  }
}

.rate_calculator__popup__button--disabled {
  cursor: progress;
  opacity: 0.7;
}

.rate_calculator__form__label, .form label {
  max-height: 15px;
  overflow: hidden;
  color: #2361A9;
  font-family: Montserrat;
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: 109%; /* 15.26px */
  letter-spacing: 0.14px;
}
@media (max-width: 1024px) {
  .rate_calculator__form__label, .form label {
    font-size: 12px;
    letter-spacing: 0.12px;
  }
}

.rate_calculator__popup__button--disabled {
  cursor: progress;
  opacity: 0.7;
}

.form {
  display: flex;
  flex-direction: column;
  row-gap: 15px;
  column-gap: 15px;
}
.form__row {
  display: flex;
  flex-direction: row;
  row-gap: 15px;
  column-gap: 21px;
  align-items: flex-start;
}
@media (max-width: 1024px) {
  .form__row {
    display: flex;
    flex-direction: column;
    align-items: stretch;
  }
}
.form__row__col {
  display: flex;
  flex-direction: column;
  row-gap: 7px;
  column-gap: 7px;
  flex-grow: 1;
  min-width: 100%;
  max-width: 100%;
}
@media (max-width: 1024px) {
  .form__row__col {
    row-gap: 5px;
    column-gap: 5px;
  }
}
.form__row--2_col .form__row__col {
  min-width: calc((100% - 21px) / 2);
  max-width: calc((100% - 21px) / 2);
}
@media (max-width: 1024px) {
  .form__row--2_col .form__row__col {
    min-width: initial;
    max-width: initial;
  }
}
.form__row--3_col {
  column-gap: 18px;
}
@media (max-width: 1024px) {
  .form__row--3_col {
    column-gap: 14px;
  }
}
.form__row--3_col .form__row__col {
  min-width: calc((100% - 36px) / 3);
  max-width: calc((100% - 36px) / 3);
}
@media (max-width: 1024px) {
  .form__row--3_col .form__row__col {
    min-width: initial;
    max-width: initial;
  }
}
.form__row--2_col.form__row--2_col--mobile, .form__row--3_col.form__row--3_col--mobile {
  display: flex;
  flex-direction: row;
}
@media (max-width: 1024px) {
  .form__row--2_col.form__row--2_col--mobile .form__row__col {
    min-width: calc((100% - 21px) / 2);
    max-width: calc((100% - 21px) / 2);
  }
}
@media (max-width: 1024px) {
  .form__row--3_col.form__row--3_col--mobile .form__row__col {
    min-width: calc((100% - 36px) / 3);
    max-width: calc((100% - 36px) / 3);
  }
}
.form * {
  appearance: none;
}
.form input, .form textarea {
  flex-grow: 1;
  max-width: 100%;
  padding: 15px 20px;
  border-radius: 100px;
  border: 1px solid #D7D8D9;
  color: #1B2B3C;
  outline: none !important;
  font-family: Montserrat;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 14px;
  letter-spacing: 0.28px;
  resize: none;
}
@media (max-width: 1024px) {
  .form input, .form textarea {
    padding: 14px 20px 15px;
  }
}
.form input::placeholder, .form textarea::placeholder {
  color: rgba(27, 43, 60, 0.6);
}
.form input:focus, .form textarea:focus {
  border-color: #0061AF;
}
.form input[disabled], .form textarea[disabled] {
  background: #F3F4F5;
}
.form input[data-error], .form textarea[data-error] {
  border-color: #E40137;
}
.form textarea {
  border-radius: 20px;
}
.form button {
  outline: none !important;
  border: none;
  cursor: pointer;
}
.form__input {
  display: flex;
  flex-direction: column;
  row-gap: 5px;
  column-gap: 5px;
  flex-grow: 1;
}
.form__input__group {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}
.form__input__group__before, .form__input__group__after {
  flex-shrink: 1;
  background: #FFF;
  border: 1px solid #D7D8D9;
  color: #2361A9;
  font-family: Montserrat;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: 120%;
  letter-spacing: 0.28px;
}
.form__input__group__before {
  padding: 15px 14px 15px 13px;
  border-radius: 100px 0 0 100px;
  border-right: none;
}
@media (max-width: 1024px) {
  .form__input__group__before {
    padding: 14px 12px 15px 12px;
  }
}
.form__input__group__after {
  padding: 15px 13px 15px 14px;
  border-radius: 0 100px 100px 0;
  border-left: none;
}
@media (max-width: 1024px) {
  .form__input__group__after {
    padding: 14px 12px 15px 12px;
  }
}
.form__input__group input {
  border-radius: 100px 0 0 100px;
}
.form__input__group:focus-within .form__input__group__after, .form__input__group:focus-within .form__input__group__before {
  border-color: #0061AF;
}
.form__input__group.form__input__group--error .form__input__group__after, .form__input__group.form__input__group--error .form__input__group__before {
  border-color: #E40137;
}
.form__checkbox {
  align-items: center;
  justify-content: center;
  min-width: 30px;
  min-height: 30px;
  max-width: 30px;
  max-height: 30px;
  display: inline-flex;
  cursor: pointer;
  border: 1px solid #8A929B;
  border-radius: 8px;
  overflow: hidden;
}
@media (max-width: 1024px) {
  .form__checkbox {
    min-width: 26px;
    min-height: 26px;
    max-width: 26px;
    max-height: 26px;
  }
}
.form__checkbox:before {
  min-width: 30px;
  min-height: 30px;
  max-width: 30px;
  max-height: 30px;
  background: url(/app/images/components/form/checkmark.svg) no-repeat center;
  background-size: contain;
  content: "";
  opacity: 0;
  line-height: 0;
}
@media (max-width: 1024px) {
  .form__checkbox:before {
    min-width: 26px;
    min-height: 26px;
    max-width: 26px;
    max-height: 26px;
  }
}
.form__checkbox.form__checkbox--checked {
  border-color: #2361A9;
  background: #2361A9;
}
.form__checkbox.form__checkbox--checked:before {
  opacity: 1;
}
.form__checkbox input {
  display: none;
}
.form__checkbox__group {
  display: flex;
  flex-direction: row;
  row-gap: 10px;
  column-gap: 10px;
}
.form__checkbox__group__text {
  color: rgba(27, 43, 60, 0.5);
  font-family: Montserrat;
  font-size: 13px;
  font-style: normal;
  font-weight: 500;
  line-height: 20px; /* 153.846% */
  letter-spacing: 0.26px;
}
.form__checkbox__group__text a {
  color: #0061AF;
  font-family: Montserrat;
  font-size: 13px;
  font-style: normal;
  font-weight: 600;
  line-height: 20px;
  letter-spacing: 0.26px;
  text-decoration-line: underline;
}
.form__checkbox__group--agreement {
  margin-top: 5px;
}
.form__error {
  display: flex;
  flex-direction: row;
  row-gap: 3px;
  column-gap: 3px;
  padding: 0 10px;
  color: #E40137;
  font-family: Montserrat;
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: 20px; /* 166.667% */
  letter-spacing: 0.24px;
}
.form__error:before {
  content: url("/app/images/components/form/error.svg");
  width: 20px;
  height: 20px;
  object-fit: contain;
  line-height: 0;
}

.popup {
  align-items: center;
  justify-content: center;
  position: fixed;
  display: none;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 99;
  padding-top: 50px;
  padding-bottom: 50px;
  overflow: auto;
}
.popup.popup--active {
  display: flex;
}
.popup__backdrop {
  position: fixed;
  background: rgba(35, 97, 169, 0.5);
  backdrop-filter: blur(3px);
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -1;
}
.popup__body {
  position: relative;
  border-radius: 20px;
  background: #FFF;
  padding: 40px;
  flex-grow: 1;
  max-width: 670px;
  max-height: 100%;
  overflow: auto;
}
@media (max-width: 1024px) {
  .popup__body {
    padding: 43px 15px;
  }
}
.popup__close {
  position: absolute;
  top: 20px;
  right: 20px;
  cursor: pointer;
}
@media (max-width: 1024px) {
  .popup__close {
    top: 15px;
    right: 15px;
  }
}

.custom_select2 + .select2-container.select2-container--default {
  display: block;
  width: auto;
}
.custom_select2 + .select2-container.select2-container--default .select2-selection {
  background-color: #fff;
  border-radius: 30px;
  border: 1px solid #D7D8D9;
  height: 48px;
}
.custom_select2 + .select2-container.select2-container--default .select2-selection .select2-selection__rendered {
  padding: 0 45px 0 20px;
  font-weight: 500;
  font-size: 14px;
  line-height: 109%;
  letter-spacing: 0.02em;
  color: #1B2B3C;
  display: flex;
  align-items: center;
  height: 100%;
}
.custom_select2 + .select2-container.select2-container--default .select2-selection .select2-selection__rendered::placeholder {
  padding: 10px 16px;
  font-weight: 500;
  font-size: 14px;
  line-height: 109%;
  display: flex;
  align-items: center;
  letter-spacing: 0.02em;
  color: #1B2B3C;
}
.custom_select2 + .select2-container.select2-container--default .select2-selection .select2-selection__arrow {
  top: calc(50% - 5px);
  right: 24px;
  width: 16px;
  height: 16px;
}
.custom_select2 + .select2-container.select2-container--default .select2-selection .select2-selection__arrow b {
  background-image: url("/app/images/components/custom-select2/select-arrow.svg");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  border-color: unset;
  border-style: unset;
  height: 10px;
  width: 17px;
  transform: translateY(-50%);
}
.custom_select2 + .select2-container.select2-container--default .select2-selection .select2-selection__placeholder {
  display: flex !important;
  align-items: center !important;
  color: #1B2B3C !important;
}
.custom_select2 + .select2-container.select2-container--default.select2-container--open .select2-selection {
  border-color: #0061AF;
}
.custom_select2 + .select2-container.select2-container--default.select2-container--disabled .select2-selection {
  background: #F3F4F5;
}
.custom_select2 + .select2-container.select2-container--default.select2-container--disabled .select2-selection .select2-selection__arrow {
  top: calc(50% - 3px);
  right: 24px;
  height: 14px;
  width: 11px;
}
.custom_select2 + .select2-container.select2-container--default.select2-container--disabled .select2-selection .select2-selection__arrow b {
  background-image: url("/app/images/components/custom-select2/lock.svg");
  background-position: center;
  height: 14px;
  width: 11px;
}

.select2-container .custom_select2__dropdown.select2-dropdown {
  background: #FFF;
  border-radius: 8px;
  box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.12);
  padding: 10px 0;
  border: none;
}
.select2-container .custom_select2__dropdown.select2-dropdown .select2-search--dropdown {
  padding: 16px 14px 8px;
}
.select2-container .custom_select2__dropdown.select2-dropdown .select2-search--dropdown .select2-search__field {
  border-color: #D7D8D9;
  outline: none !important;
}
.select2-container .custom_select2__dropdown.select2-dropdown .select2-results__options {
  scrollbar-width: thin;
  scrollbar-color: #0061AF transparent;
}
.select2-container .custom_select2__dropdown.select2-dropdown .select2-results__options::-webkit-scrollbar {
  width: 4px;
  border-radius: 8px;
}
.select2-container .custom_select2__dropdown.select2-dropdown .select2-results__options::-webkit-scrollbar-thumb {
  width: 4px;
  background: #0061AF;
  border-radius: 8px;
}
.select2-container .custom_select2__dropdown.select2-dropdown .select2-results__option {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 14px 26px;
  user-select: none;
  -webkit-user-select: none;
  background: #FFFFFF;
  border-radius: 0;
  margin-bottom: 0;
}
.select2-container .custom_select2__dropdown.select2-dropdown .select2-results__option:hover {
  background: #F8F9FA;
}
.select2-container .custom_select2__dropdown.select2-dropdown .select2-results__option--selected:after {
  content: url("/app/images/components/custom-select2/selected.svg");
}
.select2-container .custom_select2--country__dropdown.select2-dropdown .select2-results__option {
  padding-left: 14px;
  padding-right: 14px;
}

.custom_select2__option {
  color: #1B2B3C;
  font-family: Montserrat;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 109%; /* 17.44px */
  letter-spacing: 0.32px;
}
@media (max-width: 1024px) {
  .custom_select2__option {
    font-size: 14px;
    letter-spacing: 0.28px;
  }
}

.custom_select2--country__option {
  display: flex;
  flex-direction: row;
  row-gap: 16px;
  column-gap: 16px;
  align-items: center;
}
.custom_select2--country__option__img {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  border: 1px solid rgba(0, 0, 15, 0.12);
  border-radius: 50%;
}
.custom_select2--country__option__img > .fi.fis {
  width: 24px;
  height: 24px;
  border-radius: 50%;
  background-size: cover;
}
@media (max-width: 1024px) {
  .custom_select2--country__option__img > .fi.fis {
    width: 34px;
    height: 34px;
  }
}
.select2-results__options .custom_select2--country__option__img > .fi.fis {
  width: 25px;
  height: 25px;
}
.custom_select2--country__option__text {
  color: #1B2B3C;
  font-family: Montserrat;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 109%; /* 17.44px */
  letter-spacing: 0.32px;
  text-transform: capitalize;
}
@media (max-width: 1024px) {
  .custom_select2--country__option__text {
    font-size: 14px;
    letter-spacing: 0.28px;
  }
}
.custom_select2--country__option__text--us {
  text-transform: uppercase;
}

.custom_select2.custom_select2--country + .select2-container.select2-container--default .select2-selection .select2-selection__rendered {
  padding: 0 45px 0 12px;
}

@media (max-width: 1024px) {
  .custom_select2.custom_select2--language + .select2-container.select2-container--default .select2-selection {
    height: 40px;
  }
}
.custom_select2.custom_select2--language + .select2-container.select2-container--default .select2-selection__arrow b {
  width: 14px;
  height: 8px;
}
@media (max-width: 1024px) {
  .custom_select2.custom_select2--language + .select2-container.select2-container--default .select2-selection__arrow b {
    width: 11px;
    height: 7px;
  }
}
.custom_select2.custom_select2--language + .select2-container.select2-container--default .select2-selection .custom_select2--language__option {
  display: flex;
  flex-direction: row;
  row-gap: 13px;
  column-gap: 13px;
}
@media (max-width: 1024px) {
  .custom_select2.custom_select2--language + .select2-container.select2-container--default .select2-selection .custom_select2--language__option {
    row-gap: 8px;
    column-gap: 8px;
  }
}
.custom_select2.custom_select2--language + .select2-container.select2-container--default .select2-selection .custom_select2--language__option__code {
  color: #2361A9;
  text-align: center;
  font-family: Montserrat;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: 109%; /* 15.26px */
  text-transform: uppercase;
}
.custom_select2.custom_select2--language + .select2-container.select2-container--default .select2-selection .custom_select2--language__option__text {
  color: #2361A9;
  font-family: Montserrat;
  font-size: 13px;
  font-style: normal;
  font-weight: 600;
  line-height: 16px; /* 123.077% */
  letter-spacing: 0.26px;
}

.rate_calculator {
  display: flex;
  flex-direction: column;
  row-gap: 28px;
  column-gap: 28px;
  padding: 30px 40px 40px;
  border-radius: 20px;
  background: #E7F0F8;
}
@media (max-width: 1024px) {
  .rate_calculator {
    border-radius: 0;
    padding: 30px 15px;
    row-gap: 20px;
    column-gap: 20px;
  }
}
.rate_calculator__heading {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  row-gap: 10px;
  column-gap: 10px;
}
.rate_calculator__heading__title {
  color: #0056A4;
  text-align: center;
  font-family: Montserrat;
  font-size: 27px;
  font-style: normal;
  font-weight: 700;
  line-height: 135%; /* 36.45px */
  letter-spacing: 0.54px;
  text-transform: uppercase;
}
@media (max-width: 1024px) {
  .rate_calculator__heading__title {
    color: #2361A9;
    font-size: 20px;
    line-height: 120%; /* 24px */
  }
}
.rate_calculator__heading__subtitle {
  color: #606B77;
  text-align: center;
  font-family: Montserrat;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 22px; /* 157.143% */
  letter-spacing: 0.28px;
}
@media (max-width: 1024px) {
  .rate_calculator__heading__subtitle {
    font-size: 12px;
    line-height: 18px; /* 150% */
    letter-spacing: 0.24px;
  }
}
.rate_calculator__form__wrapper {
  display: flex;
  flex-direction: row;
  row-gap: 20px;
  column-gap: 37px;
  align-items: flex-start;
}
@media (max-width: 1024px) {
  .rate_calculator__form__wrapper {
    display: flex;
    flex-direction: column;
  }
}
.rate_calculator__form__divider {
  position: relative;
  top: 35px;
}
@media (max-width: 1024px) {
  .rate_calculator__form__divider {
    display: none;
  }
}
.rate_calculator__form__group {
  display: flex;
  flex-direction: column;
  row-gap: 5px;
  column-gap: 5px;
  width: calc((100% - 90px) / 2);
}
@media (max-width: 1024px) {
  .rate_calculator__form__group {
    width: 100%;
  }
}
.rate_calculator__button {
  row-gap: 80px;
  column-gap: 80px;
}
@media (max-width: 1024px) {
  .rate_calculator__button {
    width: 100%;
  }
}
.rate_calculator__button__wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.rate_calculator .select2-selection {
  height: 60px !important;
  border: none !important;
  background: #FFF !important;
}
.rate_calculator .select2-selection .custom_select2--country__option__img > span {
  width: 40px;
  height: 40px;
}
.rate_calculator__popup__title {
  color: #0056A4;
  font-family: Montserrat;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: 135%; /* 27px */
  letter-spacing: 0.2px;
  text-transform: uppercase;
}
.rate_calculator__popup__subtitle {
  color: #0056A4;
  font-family: Montserrat;
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: 30px; /* 214.286% */
  letter-spacing: 0.14px;
}
.rate_calculator__popup__form {
  margin-top: 20px;
}
@media (max-width: 1024px) {
  .rate_calculator__popup__form {
    margin-top: 23px;
  }
}
.rate_calculator__popup__result {
  display: flex;
  flex-direction: row;
  row-gap: 54px;
  column-gap: 54px;
  align-items: flex-end;
}
.rate_calculator__popup__result__inner {
  display: flex;
  flex-direction: column;
  row-gap: 6px;
  column-gap: 6px;
}
.rate_calculator__popup__result__img {
  line-height: 0;
  min-width: 240px;
  width: 240px;
  height: 190px;
}
.rate_calculator__popup__result__img img {
  width: 100%;
  height: auto;
  object-fit: contain;
}
.rate_calculator__popup__price {
  display: flex;
  flex-direction: row;
  row-gap: 40px;
  column-gap: 40px;
  align-items: center;
  margin-top: 25px;
}
.rate_calculator__popup__price__img {
  line-height: 0;
  min-width: 150px;
  width: 150px;
  height: 120px;
}
.rate_calculator__popup__price__img img {
  width: 100%;
  height: auto;
  object-fit: contain;
}
.rate_calculator__popup__price__text {
  display: flex;
  flex-direction: column;
}
.rate_calculator__popup__price__title {
  color: #2361A9;
  font-family: Montserrat;
  font-size: 34px;
  font-style: normal;
  font-weight: 600;
  line-height: 120%; /* 40.8px */
  letter-spacing: 0.34px;
  text-transform: uppercase;
}
.rate_calculator__popup__price__subtitle {
  color: #2361A9;
  font-family: Montserrat;
  font-size: 13px;
  font-style: normal;
  font-weight: 600;
  line-height: 25px; /* 192.308% */
  letter-spacing: 0.13px;
}
.rate_calculator__popup__details {
  display: flex;
  flex-direction: column;
  color: #1B2B3C;
  font-family: Montserrat;
  font-size: 15px;
  font-style: normal;
  font-weight: 500;
  line-height: 30px; /* 200% */
  letter-spacing: 0.15px;
}
@media (max-width: 1024px) {
  .rate_calculator__popup__details {
    margin-top: 34px;
    line-height: 22px; /* 146.667% */
  }
}
.rate_calculator__popup__details__key, .rate_calculator__popup__details__divider {
  color: #606B77;
  font-family: Montserrat;
  font-size: 15px;
  font-style: normal;
  font-weight: 500;
  line-height: 22px;
  letter-spacing: 0.15px;
}
.rate_calculator__popup__details__row--heading > div {
  display: inline;
}
.rate_calculator__popup__button {
  row-gap: 40px;
  column-gap: 40px;
}
@media (max-width: 1024px) {
  .rate_calculator__popup__button {
    width: 100%;
  }
}
.rate_calculator__popup__button__wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-top: 30px;
}
.rate_calculator__popup--success .rate_calculator__popup__button__wrapper {
  margin-top: 66px;
}
@media (max-width: 1024px) {
  .rate_calculator__popup--success .rate_calculator__popup__button__wrapper {
    margin-top: 30px;
  }
}

.select2-dropdown.rate_calculator__select2__dropdown {
  border: none !important;
}