.section-services {
  margin-top: 50px;
}
.section-services .section-head {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  margin-bottom: 28px;
}
.section-services .section-head .section-title {
  margin-bottom: 10px;
}
@media (max-width: 1024px) {
  .section-services .section-head {
    width: 100%;
    justify-content: center;
    text-align: center;
  }
}
.section-services .services {
  row-gap: 30px;
  column-gap: 34px;
  display: flex;
  flex-wrap: wrap;
}
@media (max-width: 1024px) {
  .section-services .services {
    flex-wrap: nowrap;
    column-gap: 10px;
  }
}
.section-services .services-wrapper > .simplebar-wrapper {
  padding-bottom: 24px;
}
.section-services .services-item {
  display: flex;
  flex-direction: column;
  min-width: calc(33% - 19px);
  max-width: calc(33% - 19px);
  border-radius: 20px;
  background: #EFF1F4;
  padding: 40px;
}
@media (max-width: 1024px) {
  .section-services .services-item {
    padding: 30px;
    min-width: 320px;
    max-width: 320px;
  }
}
.section-services .services-item-img {
  line-height: 0;
  min-width: 220px;
  width: 220px;
  height: 140px;
  margin-bottom: 40px;
}
.section-services .services-item-img img {
  width: 100%;
  height: auto;
}
@media (max-width: 1024px) {
  .section-services .services-item-img {
    line-height: 0;
    min-width: 188px;
    width: 188px;
    height: 120px;
    margin-bottom: 25px;
  }
  .section-services .services-item-img img {
    width: 100%;
    height: auto;
  }
}
.section-services .services-item-title {
  color: #2361A9;
  font-size: 20px;
  font-weight: 700;
  line-height: 135%;
  letter-spacing: 0.4px;
  text-transform: uppercase;
  margin-bottom: 10px;
}
@media (max-width: 1024px) {
  .section-services .services-item-title {
    font-size: 17px;
  }
}
.section-services .services-item-description {
  color: #606B77;
  font-size: 14px;
  font-weight: 500;
  line-height: 22px;
  letter-spacing: 0.28px;
  margin-bottom: 20px;
}
@media (max-width: 1024px) {
  .section-services .services-item-description {
    font-size: 12px;
    line-height: 18px;
    margin-bottom: 15px;
  }
}
.section-services .services-item-btn {
  color: #2361A9;
  font-size: 13px;
  font-weight: 700;
  line-height: 109%;
  letter-spacing: 0.26px;
  text-transform: uppercase;
  text-decoration: none;
  display: flex;
  width: fit-content;
  margin-top: auto;
}
.section-services .services-item-btn svg {
  margin-left: 15px;
}
.section-services .section-footer {
  display: none;
}
@media (max-width: 1024px) {
  .section-services .section-footer {
    display: flex;
    justify-content: center;
    margin-top: 10px;
  }
}