.tabs {
  display: flex;
  flex-direction: column;
}
.tabs__nav {
  display: flex;
  flex-direction: row;
  row-gap: 20px;
  column-gap: 20px;
  padding: 0 40px;
  border-top: 1px solid #D8E0EB;
  border-bottom: 1px solid #D8E0EB;
}
.tabs__nav__item {
  padding: 16px 0;
  cursor: pointer;
  color: #8998A8;
  font-family: Montserrat;
  font-size: 13px;
  font-style: normal;
  font-weight: 700;
  line-height: 160%; /* 20.8px */
  text-transform: uppercase;
}
.tabs__nav__item--active {
  padding-bottom: 13px;
  color: #2361A9;
  border-bottom: 3px solid #2361A9;
}
.tabs__content {
  display: none;
}
.tabs__content--active {
  display: block;
}