@import "../mixins";
@import "~select2/dist/css/select2.min.css";

@mixin customSelect2Option {
    color: #1B2B3C;
    font-family: Montserrat;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 109%; /* 17.44px */
    letter-spacing: 0.32px;

    @include mobile {
        font-size: 14px;
        letter-spacing: 0.28px;
    }
}

@mixin customSelect2CountryOption {
    @include flexRow;
    @include gap(16px);
    align-items: center;

    &__img {
        @include flexRow;
        @include flexCenter;
        border: 1px solid rgba(0, 0, 15, 0.12);
        border-radius: 50%;

        > .fi.fis {
            @include square(24px);
            border-radius: 50%;
            background-size: cover;

            @include mobile {
                @include square(34px);
            }

            .select2-results__options & {
                @include square(25px);
            }
        }
    }

    &__text {
        @include customSelect2Option;
        text-transform: capitalize;

        &--us {
            text-transform: uppercase;
        }
    }
}

// SELECT2 BASE
.custom_select2 + .select2-container.select2-container--default {
    display: block;
    width: auto;

    .select2-selection {
        background-color: #fff;
        border-radius: 30px;
        border: 1px solid #D7D8D9;
        height: 48px;

        .select2-selection__rendered {
            padding: 0 45px 0 20px;
            font-weight: 500;
            font-size: 14px;
            line-height: 109%;
            letter-spacing: 0.02em;
            color: #1B2B3C;
            display: flex;
            align-items: center;
            height: 100%;

            &::placeholder {
                padding: 10px 16px;
                font-weight: 500;
                font-size: 14px;
                line-height: 109%;
                display: flex;
                align-items: center;
                letter-spacing: 0.02em;
                color: #1B2B3C;
            }
        }

        .select2-selection__arrow {
            top: calc(50% - 5px);
            right: 24px;
            width: 16px;
            height: 16px;

            b {
                background-image: url("/app/images/components/custom-select2/select-arrow.svg");
                background-repeat: no-repeat;
                background-size: contain;
                background-position: center;
                border-color: unset;
                border-style: unset;
                height: 10px;
                width: 17px;
                transform: translateY(-50%);
            }
        }

        .select2-selection__placeholder {
            display: flex !important;
            align-items: center !important;
            color: #1B2B3C !important;
        }
    }

    &.select2-container--open {
        .select2-selection {
            border-color: #0061AF;
        }
    }

    &.select2-container--disabled {
        .select2-selection {
            background: #F3F4F5;

            .select2-selection__arrow {
                top: calc(50% - 3px);
                right: 24px;
                height: 14px;
                width: 11px;

                b {
                    background-image: url("/app/images/components/custom-select2/lock.svg");
                    background-position: center;
                    height: 14px;
                    width: 11px;
                }
            }
        }
    }
}

.select2-container {
    .custom_select2__dropdown.select2-dropdown {
        background: #FFF;
        border-radius: 8px;
        box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.12);
        padding: 10px 0;
        border: none;

        .select2-search--dropdown {
            padding: 16px 14px 8px;

            .select2-search__field {
                border-color: #D7D8D9;
                outline: none !important;
            }
        }

        .select2-results__options {
            @include scrollbarVertical;
        }

        .select2-results__option {
            @include flexRow;
            @include flexSpaceBetween;
            padding: 14px 26px;
            user-select: none;
            -webkit-user-select: none;
            background: #FFFFFF;
            border-radius: 0;
            margin-bottom: 0;

            &:hover {
                background: #F8F9FA;
            }
        }

        .select2-results__option--selected {
            &:after {
                content: url("/app/images/components/custom-select2/selected.svg");
            }
        }
    }

    .custom_select2--country__dropdown.select2-dropdown {
        .select2-results__option {
            padding-left: 14px;
            padding-right: 14px;
        }
    }
}

.custom_select2__option {
    @include customSelect2Option;
}

.custom_select2--country__option {
    @include customSelect2CountryOption;
}

// SELECT2 COUNTRY
.custom_select2.custom_select2--country + .select2-container.select2-container--default {
    .select2-selection {
        .select2-selection__rendered {
            padding: 0 45px 0 12px;
        }
    }
}

// SELECT2 LANGUAGE

.custom_select2.custom_select2--language + .select2-container.select2-container--default {
    .select2-selection {
        @include mobile {
            height: 40px;
        }

        &__arrow {
            b {
                width: 14px;
                height: 8px;

                @include mobile {
                    width: 11px;
                    height: 7px;
                }
            }
        }

        .custom_select2--language__option {
            @include flexRow;
            @include gap(13px);

            @include mobile {
                @include gap(8px);
            }

            &__code {
                color: #2361A9;
                text-align: center;
                font-family: Montserrat;
                font-size: 14px;
                font-style: normal;
                font-weight: 700;
                line-height: 109%; /* 15.26px */
                text-transform: uppercase;
            }

            &__text {
                color: #2361A9;
                font-family: Montserrat;
                font-size: 13px;
                font-style: normal;
                font-weight: 600;
                line-height: 16px; /* 123.077% */
                letter-spacing: 0.26px;
            }
        }
    }
}
