@import "../mixins";
@import "~swiper/swiper-bundle.css";

.swiper {
    &-slide {
        img {
            width: 100%;
            height: auto;
            object-fit: contain;
        }
    }

    &-button {
        &-prev,
        &-next {
            @include square(48px);

            &:after {
                display: none;
            }
        }

        &-prev {
            left: 20px;

            @include mobile {
                left: 10px;
            }
        }

        &-next {
            right: 20px;

            @include mobile {
                right: 10px;
            }
        }
    }

    &-pagination {
        margin-top: 16px;
        position: static;
        color: rgba(0, 97, 175, 0.50);
        font-family: Montserrat;
        font-size: 20px;
        font-style: normal;
        font-weight: 600;
        line-height: 109%;
        letter-spacing: 0.4px;
        text-transform: uppercase;

        @include mobile {
            font-size: 17px;
        }

        &-current {
            color: #0061AF;
        }
    }
}
