@media (max-width: 1265px) {
  .top_wrap_inner.top_canada_about_us {
    background-size: 60% 70%;
  }
}
@media (max-width: 991px) {
  .top_wrap_inner.top_canada_about_us {
    background-image: unset;
    margin-bottom: 0;
  }
  .top_wrap_inner__text-part {
    width: 100%;
    padding-bottom: 30px;
  }
  .top_wrap_inner__text-part p {
    width: 100%;
    font-size: 12px;
    line-height: 18px;
  }
  .top_wrap_inner__img-media {
    display: flex;
  }
  .tags-wrapper {
    flex-flow: row;
    flex-wrap: wrap;
    margin-bottom: 10px;
  }
  .tags-wrapper__tag {
    margin-bottom: 5px;
  }
  .tags-wrapper__tag span {
    font-size: 12px;
  }
  .abous-us-wrapper {
    flex-direction: column-reverse;
    width: calc(100% + 30px);
    margin-left: -15px;
    border-radius: unset;
    margin-bottom: 0;
  }
  .abous-us-wrapper:last-of-type {
    margin-bottom: 0;
  }
  .abous-us-wrapper:nth-child(odd) .text {
    width: 100%;
    padding: 40px 15px 25px;
  }
  .abous-us-wrapper:nth-child(odd) .img {
    width: 100%;
    margin-right: 0;
  }
  .abous-us-wrapper:nth-child(even) {
    flex-direction: column;
    background: #DEEBF5;
  }
  .abous-us-wrapper:nth-child(even) .text {
    width: 100%;
    padding: 40px 15px 25px;
  }
  .abous-us-wrapper:nth-child(even) .img {
    width: 100%;
    margin-left: 0;
  }
  .abous-us-wrapper .text .title {
    font-size: 20px;
    line-height: 120%;
    margin-bottom: 10px;
  }
  .abous-us-wrapper .text .descr {
    font-size: 12px;
    line-height: 18px;
    margin-bottom: 15px;
  }
}