@media(max-width: 1265px){
    .top_wrap_inner.top_canada_about_us{
        background-size: 60% 70%;
    }
}
@media(max-width: 991px){
    .top_wrap_inner.top_canada_about_us{
        background-image: unset;
        margin-bottom: 0;
    }
    .top_wrap_inner{
        &__text-part{
            width: 100%;
            padding-bottom: 30px;
            p {
                width: 100%;
                font-size: 12px;
                line-height: 18px;
            }
        }
        &__img-media{
            display: flex;
        }
    }
    .tags-wrapper{
        flex-flow: row;
        flex-wrap: wrap;
        margin-bottom: 10px;
        &__tag{
            margin-bottom: 5px;
            span{
                font-size: 12px;
            }
        }
    }
    .abous-us-wrapper{
        flex-direction: column-reverse;
        width: calc(100% + 30px);
        margin-left: -15px;
        border-radius: unset;
        margin-bottom: 0;
        &:last-of-type{
            margin-bottom: 0;
        }
        &:nth-child(odd){
            .text{
                width: 100%;
                padding: 40px 15px 25px;
            }
            .img{
                width: 100%;
                margin-right: 0;
            }
        }
        &:nth-child(even){
            flex-direction: column;
            background: #DEEBF5;
            .text{
                width: 100%;
                padding: 40px 15px 25px;
            }
            .img{
                width: 100%;
                margin-left: 0;
            }
        }
        .text{
            .title{
                font-size: 20px;
                line-height: 120%; 
                margin-bottom: 10px;
            }
            .descr{
                font-size: 12px;
                line-height: 18px;
                margin-bottom: 15px;
            }
        }
    }
}