@import 'global/app';

.our_news_sec.single_news{
  @include maxWidth991(){
    .our_news_wraper{
      margin-bottom: 20px;
    }
  }
  .center_div{
    display: none;
    margin-bottom: 40px;
    @include maxWidth991(){
      display: flex;
    }
  }
}
.center_div{
  @include flex-center();
}
.top_single_news_inner.canada{
  width: 80%;
  display: flex;
  padding: 0px 0 40px;
  .category_line{
    margin-bottom: 20px;
  }
  .heading_single_news{
    font-weight: 700;
    font-size: 27px;
    line-height: 150%;
    text-transform: uppercase;
    color: #0061AF;
    margin-bottom: 20px;
  }
  .img_single_news{
    width: 50%;
    border-radius: 10px;
    picture{
      width: 100%;
      border-radius: 10px;
      object-fit: cover;
      img{
        width: 100%;
        border-radius: 10px;
        object-fit: cover;
      }
    }
  }
  .text_single_news{
    width: calc(50% - 40px);
    margin-left: 40px;
  }
  @include maxWidth991(){
    width: 100%;
    display: flex;
    padding: unset;
    flex-direction: column;
    background-color: #F8F9FA;
    .img_single_news {
      width: 100%;
      margin-left: 0;
      margin-bottom: unset;
      picture{
          border-radius: unset;
          img{
            border-radius: unset;
          }
      }
    }    
    .text_single_news {
      width: 100%;
      margin-left: 0;
      padding: 10px 15px 0;
      .heading_single_news {
          font-size: 20px;
          margin-bottom: 10px;
      }
    }    
  }
}
.single_news_wraper{
  padding: 50px 0 60px;
  width: 60%;
  margin: 0 auto;
  @include maxWidth991(){
    padding: 30px 0;
    width: 100%;
  }
  h2{
    font-weight: 700;
    font-size: 20px;
    line-height: 150%;
    letter-spacing: -0.01em;
    color: #2361A9;
    margin-bottom: 20px;
    @include maxWidth991(){
      font-size: 15px;
      line-height: 150%;
    }
  }
  p{
    font-weight: 500;
    font-size: 15px;
    line-height: 25px;
    letter-spacing: 0.02em;
    color: rgba(27, 43, 60, 0.6);
    margin-bottom: 20px;
    @include maxWidth991(){
      font-size: 13px;
      line-height: 20px;
    }
  }
  h3{
    font-weight: 700;
    font-size: 15px;
    line-height: 25px;
    letter-spacing: 0.02em;
    color: #2361A9;
    margin-bottom: 20px;
    @include maxWidth991(){
      font-size: 13px;
      line-height: 20px;
    }
  }
  blockquote{
    padding: 17px 30px;
    background: #FFFFFF;
    position: relative;
    margin-bottom: 30px;
    &:before{
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 10px;
      background: #2361A9;
      height: 100%;
    }
    p{
      font-weight: 500;
      font-size: 15px;
      line-height: 25px;
      letter-spacing: 0.02em;
      color: #0061AF;
      margin-bottom: 0;
      width: 80%;
    }
    @include maxWidth991(){
      padding: 20px;
      margin-bottom: 20px;
      &:before{
        width: 5px;
      }
      p {
        font-size: 13px;
        line-height: 20px;
        width: 100%;
      }
    }
  }
  .blue_button{
    margin-bottom: 30px;
  }
  // @include maxWidth991(){
  //   padding: 30px 0;
  //   width: 100%;
  //   h2 {
  //         font-size: 15px;
  //         line-height: 150%;
  //   }
  //   p {
  //         font-size: 13px;
  //         line-height: 20px;
  //   }
  //   h3{
  //         font-size: 13px;
  //         line-height: 20px;
  //   }
  //   blockquote {
  //             padding: 20px;
  //             margin-bottom: 20px;
  //             &:before{
  //                 width: 5px;
  //             }
  //             p {
  //             font-size: 13px;
  //             line-height: 20px;
  //             width: 100%;
  //           }
  //   }
  // }
}
.our_news_swiper{
  display: none;
  @include maxWidth991(){
    .news_row{
      .img_news_row{
         height: 40vh;
      }
    }
  }
  @include maxWidth500(){
    .news_row{
      .img_news_row{
         height: 30vh;
      }
    }
  }
  .news_row{
    margin-right: 20px;
    @include maxWidth991(){
      .img_news_row{
        margin-bottom: 10px;
      }
      .info_news_row{
        .title_news_row{
          margin-bottom: 5px;
        }
        .descr{
          font-size: 13px;
          line-height: 20px;
        }
      }
      .category_line{
          margin-bottom: 10px;
      }
    }
    .img_news_row{
      display: block;
      margin-bottom: 20px;
      height: 240px;
      img{
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-radius: 10px;
      }
    }
    .info_news_row{
        padding-left: 20px;
        @include maxWidth991(){
          padding-left: 0;
        }
      .title_news_row{
        margin-bottom: 6px;
        display: block;
        text-decoration: none;
        h3{
          font-weight: 700;
          font-size: 15px;
          line-height: 160%;
          color: #2361A9;
        }
      }
      .descr{
        font-weight: 500;
        font-size: 15px;
        line-height: 25px;
        letter-spacing: 0.02em;
        color: #606B77;
      }
    }
  }
}

.top_our_news{
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 20px;
  .title_our_news{
    font-weight: 700;
    font-size: 35px;
    line-height: 120%;
    text-transform: uppercase;
    color: #2361A9;
    @include maxWidth991(){
      font-size: 20px;
    }
  }
}

.our_news_wraper{
  position: relative;
  margin-bottom: 55px;
  @include maxWidth991(){
    padding-bottom: 20px;
  }
}

.swiper-buttons{
  border: 1px solid #2361A9;
  border-radius: 1000px;
  height: 54px!important;
  width: 154px!important;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  @include maxWidth991(){
    display: none!important;
  }
}

.swiper-button-prev, .swiper-button-next{
  position: absolute!important;
  // left: unset!important;
  // right: unset!important;
  margin-top: unset!important;
  width: 52px!important;
  height: 52px!important;
  background-repeat: no-repeat;
  background-position: center;
  &:hover{
    background-color: #E3EAF3!important;
    border-radius: 50%!important;
  }
  &:after{
    display: none;
  }
}

.swiper-button-prev{
  background-image: url(../img/arrow_slider.svg);
  left: unset!important;
  right: unset!important;
  margin-top: unset!important;
  top: unset!important;
}

.swiper-button-next{
  background-image: url(../img/arrow_slider_next.svg);
  right: 0!important;
  top: unset!important;
}

.swiper-pagination{
  pointer-events: none;
  top: 50%!important;
  transform: translateY(-50%)!important;
  font-weight: 600;
  font-size: 15px;
  line-height: 109%;
  letter-spacing: 0.02em;
  text-transform: uppercase;
  color: rgba(35, 97, 169, 0.5);
  .swiper-pagination-current{
    color: #2361A9;
  }
  .swiper-pagination-total{
    color: rgba(35, 97, 169, 0.5);
  }
}

.swiper-scrollbar{
  display: none;
  @include maxWidth991(){
    display: block!important;
    background: #DEEBF5!important;
  }
}
.swiper-scrollbar-drag{
  background: #0061AF!important;
  border-radius: 8px!important;
  width: 130px!important;
}
.buttons-for-sec{
  display: flex;
  align-items: center;
  .blue_button{
    margin-left: 20px;
    @include maxWidth991(){
      display: none;
    }
  }
}
.soc_media_wraper.meest_canada{
  display: flex;
  align-items: center;
  @include maxWidth991(){
    .soc_media {
      width: 45px;
      height: 45px;
      margin-right: 10px;
      &:last-of-type{
        margin-right: 10px;
      }
      img {
        width: 20px;
        height: 20px;
      }
    }
    span{
        font-size: 13px;
    }
  }
  .soc_media{
    background: #0061AF;
    width: 48px;
    height: 48px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 12px;
    &:last-of-type{
      margin-right: 20px;
    }
    img{
      width: 24px;
      height: 24px;
    }
  }
  span{
    font-weight: 500;
    font-size: 15px;
    line-height: 135%;
    color: rgba(27, 43, 60, 0.6);
  }
}
.top_single_news_inner{
  @include maxWidth1290(){
    width: 100%;
  }
}
.top_meest_canada.single-news{
  @include maxWidth991(){
    background-color: #DEEBF5;
    padding: unset;
    border-radius: 20px;
    width: calc(100% + 30px);
    margin-left: -15px;
  }
  .breadcrumbs{
    margin-bottom: 43px;
    @include maxWidth1024(){
      margin-bottom: 20px;
    }
    @include maxWidth991(){
      margin-bottom: 20px;
      margin-top: 30px;
    }
  }
}
.top_single_news{
  &.canada{
    @include maxWidth991(){
      background-color: #DEEBF5;
    }
  }
}



