@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap');
@import 'global/app';
body{
  background: #f8f9fa;
}
*{
    font-family: "Montserrat";
    box-sizing: border-box;
    margin: 0; 
}
.bb {
  border-bottom: 1px solid #D8E0EB;
}
.bcg_light_blue{
  background: #DEEBF5;
}
.name-page-canada{
    font-weight: 700;
    font-size: 32px;
    line-height: 120%;
    letter-spacing: 0.32px;
    text-transform: uppercase;
    color: #2361A9;
}
.top_wrap{
  background-color: #DEEBF5;
  border-radius: 20px;
  padding: 20px 40px 0;
  @include maxWidth991(){
    width: calc(100% + 30px);
    margin-left: -15px;
    border-radius: unset;
    padding: 30px 15px 0 15px;
  }
  .breadcrumbs{
    margin-bottom: 50px;
    @include maxWidth991(){
      margin-bottom: 30px;
    }
  }
  .name-page-canada{
    margin-bottom: 20px;
    @include maxWidth991(){
      font-size: 20px;
    }
  } 
  &.nav-menu{
    .navigations_menu_page{
      display: flex;
      padding-left: 0;
      overflow-y: scroll;
      max-width: 100%;
      -ms-overflow-style: none;  /* Internet Explorer 10+ */
      scrollbar-width: none;
      &::-webkit-scrollbar { 
        display: none; 
      }
      @include maxWidth1055() {
        &::-webkit-scrollbar { 
          display: none;  /* Safari and Chrome */
        }
      }
      @include maxWidth991() {
        max-width: 1055px;
        overflow-x: scroll;
        scrollbar-width: none;
        -ms-overflow-style: none;
        border-top: 1px solid #C8DAEC;
        border-bottom: 1px solid #C8DAEC;
        width: calc(100% + 30px);
        margin-left: -15px;
        padding-top: 18px;
        padding-left: 15px;
        .item_menu_navigations{
          margin-right: 20px;
          white-space: nowrap;
            a {
              font-size: 12px;
            }
        }
      }
      .item_menu_navigations{
        white-space: nowrap;
        list-style: none;
        margin-right: 30px;
        margin-bottom: 15px;
        position: relative;
        @include maxWidth1290() {
          margin-right: 20px;
          a {
            font-size: 14px;
          }
          &:after{
            top: 160%;
          }
        }
        &:last-of-type{
          margin-right: 0;
        }
        &:hover:after{
          width: 100%;
        }
        &:after{
          content: "";
          position: absolute;
          display: block;
          top: 162%; 
          left: 0;
          width: 0;
          height: 2px;
          background: #2361A9;
        }
        &.active:after{
          width: 100%;
        }
        a{
          font-weight: 700;
          font-size: 13px;
          line-height: 160%;
          text-transform: uppercase;
          color: #2361A9;
          text-decoration: none;
        }
      }
    }
  }
  &.single-news{
    padding: 20px 40px 40px;
    @include maxWidth991(){
      padding: 0;
    }
    .breadcrumbs{
      margin-bottom: 43px;
      @include maxWidth991(){
        margin-top: 30px;
        margin-bottom: 20px;
        padding-left: 15px;
      }
    }
  }
}
.category_line{
  margin-bottom: 10px;
  .category_tag{
    text-decoration: none;
    font-weight: 700;
    font-size: 11px;
    line-height: 140%;
    letter-spacing: 0.02em;
    text-transform: uppercase;
    color: #2361A9;
    padding: 3px 8px;
    background: #DEEBF5;
    border-radius: 2px;
  }
  .date_public{
    font-weight: 500;
    font-size: 14px;
    line-height: 135%;
    color: #2361A9;
    margin-left: 10px;  
  }
}
.custom_chekbox.canada{
  margin: 20px 0 30px;
	display: block;
	position: relative;
	padding-left: 40px;
	cursor: pointer;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	input{
		position: absolute;
	  	opacity: 0;
	  	cursor: pointer;
	  	height: 0;
	  	width: 0;
	}
  @include maxWidth991(){
    .checkmark{
      width: 26px;
      height: 26px;
    }
    .text{
        padding: unset;
    }
  }
	.checkmark {
        position: absolute;
        top: -3px;
        left: 0;
        height: 30px;
        width: 30px;
        background-color: transparent;
        border: 1px solid #D7D8D9;
	    border-radius: 8px;
	}
	.text{
		color: rgba(27, 43, 60, 0.50);
        font-size: 13px;
        font-style: normal;
        font-weight: 500;
        line-height: 20px; /* 153.846% */
        letter-spacing: 0.26px;
        padding: unset;
		a{
			color: #0860C7;
            font-weight: 700;
		}
	}
}
.custom_chekbox.canada input:checked ~ .checkmark{
    background-color: rgba(35, 97, 169, 1);
    border: unset;

}
.custom_chekbox.canada input:checked ~ .checkmark:after {
    display: block;
}
.custom_chekbox.canada .checkmark:after {
    content: "";
    position: absolute;
    display: none;
}
.custom_chekbox.canada .checkmark:after {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 14px;
    height: 10px;
    background: url(../img/icon_check.svg);
    background-position: center;
    background-repeat: no-repeat;
}
.error{
  font-size: 12px;
  color: red;
  display: block;
}
#phone-error{
  position: absolute;
  left: 0;
  top: 100%;
}
#phone_sender-error{
  position: absolute;
  left: 0;
  top: 100%;
}
.iti--separate-dial-code .iti__selected-flag {
  background-color: unset!important;
  border-right: 1px solid #D7D8D9;
  padding: 0 3px 0 8px!important;
}

.iti--separate-dial-code.iti--show-flags .iti__selected-dial-code {
  font-weight: 500;
  font-size: 12px;
  line-height: 109%;
  letter-spacing: 0.02em;
  color: #1B2B3C;
  margin-left: 10px;
}

.iti__arrow {
  margin-right: 10px;
  margin-left: 15px!important;
  width: 12px!important;
  height: 7px!important;
  background-image: url(../img/arrow_phone_select.svg);
  background-repeat: no-repeat;
  border-left: unset!important;
  border-right: unset!important;
  border-top: unset!important;
}

.iti {
  display: block!important;
}

.iti__arrow--up {
  border-bottom: unset!important;
}

.iti--allow-dropdown .iti__flag-container, .iti--separate-dial-code .iti__flag-container {
  border-right: 1px solid #D7D8D9;
  padding: unset!important;
}
.all_news_sec.canada-news{
  padding: 30px 0 50px;
  @include maxWidth991(){
    padding: 20px 0 30px;
  }
  .center_div{
    margin-top: 50px;
  }
  .results-search{
    display: none;
  }
}
.all_news_sec.canada-news{
  .news_row{
    .img_news_row{
      display: block;
      margin-bottom: 20px;
      height: 240px;
      @include maxWidth991(){
        margin-bottom: 10px;
      }
      @include maxWidth500(){
        height: 190px;
      }
      picture{
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-radius: 10px;
        img{
          width: 100%;
          height: 100%;
          object-fit: cover;
          border-radius: 10px;
        }
      }
    }
    .info_news_row{
      padding-left: 20px;
      @include maxWidth991(){
        padding-left: 0;
      }
      .title_news_row{
        margin-bottom: 6px;
        display: block;
        text-decoration: none;
        @include maxWidth991(){
          margin-bottom: 5px;
        }
        h3{
          font-weight: 700;
          font-size: 15px;
          line-height: 160%;
          color: #2361A9;
        }
      }
      .descr{
        font-weight: 500;
        font-size: 15px;
        line-height: 25px;
        letter-spacing: 0.02em;
        color: #606B77;
        @include maxWidth991(){
          font-size: 13px;
          line-height: 20px;
        }
      }
    }
  }
  .center-div{
    @include maxWidth991(){
      margin-top: 20px;
    }
  }
}
.center_div{
  display: flex;
  align-items: center;
  justify-content: center;
}

.all_news_wrap_grid{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-column-gap: 28px;
  grid-row-gap: 30px;
  @include maxWidth1150(){
    grid-template-columns: 1fr 1fr;
  }
  @include maxWidth991(){
    grid-template-columns: 1fr;
    grid-column-gap: unset;
    grid-row-gap: 20px;
  }
}


  
  
