@import 'global/app';
.top-contacts-wrapper{
    border-radius: 20px;
    background: #DEEBF5;
    padding: 20px 40px 75px;
    @include maxWidth991(){
        border-radius: unset;
        background: #DEEBF5;
        padding: 30px 15px 35px;
        width: calc(100% + 30px);
        margin-left: -15px; 
    }
    .breadcrumbs{
        margin-bottom: 50px;
        @include maxWidth991(){
            margin-bottom: 30px;
        }
    }
}
.title-contacts-canada{
    color: #2361A9;
    text-align: center;
    margin-bottom: 33px;
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height: 120%; /* 38.4px */
    letter-spacing: 0.32px;
    text-transform: uppercase;
    @include maxWidth991(){
        text-align: unset;
        margin-bottom: 15px;
        font-size: 20px;
    }
}
.contacts-canada-block{
    background-color: #fff;
    border-radius: 20px;
    display: flex;
    margin-bottom: 50px;
    @include maxWidth991(){
        flex-direction: column;
        margin-bottom: 30px;
    }
    &__img{
        width: 20%;
        border-radius: 20px 0px 0px 20px;
        @include maxWidth991(){
            width: 100%;
            border-radius: 14px 14px 0px 0px;
            height: 130px;
        }
        img{
            border-radius: 20px 0px 0px 20px;
            object-fit: cover;
            width: 100%;
            height: 100%;
            @include maxWidth991(){
                border-radius: 14px 14px 0px 0px;
            }
        }
    }
    &__text{
        width: 80%;
        padding: 40px 50px 50px 40px;
        display: flex;
        justify-content: space-between;
        @include maxWidth1055(){
            padding: 40px 20px 50px 20px;
        }
        @include maxWidth991(){
            width: 100%;
            padding: 20px;
            flex-direction: column;
        }
        .contacts-address{
            margin-right: 180px;
            width: calc(50% - 75px);
            margin-right: 150px;
            @include maxWidth1290(){
                width: calc(50% - 25px);
                margin-right: 50px;
            }
            @include maxWidth991(){
                width: 100%;
                margin-right: 0;
                margin-bottom: 20px;
            }
            .title{
                color: #2361A9;
                font-size: 20px;
                font-style: normal;
                font-weight: 700;
                line-height: 109%; /* 21.8px */
                letter-spacing: -0.2px;
                text-transform: uppercase;
                margin-bottom: 25px;
            }    
            .address-wrap{
                margin-bottom: 30px;
                @include maxWidth991(){
                    margin-bottom: 12px;
                }
                .name{
                    color: #1B2B3C;
                    font-size: 14px;
                    font-style: normal;
                    font-weight: 600;
                    line-height: 160%; /* 22.4px */
                    letter-spacing: 0.28px;
                    display: block;
                }
                .link-address{
                    text-decoration: none;
                    span{
                        display: block;
                        color: #0061AF;
                        font-size: 14px;
                        font-style: normal;
                        font-weight: 500;
                        line-height: 160%;
                        letter-spacing: 0.28px;
                    }
                }
            }    
            .grafic-work-wrap{
                &__line-work{
                    display: flex;
                    .days{
                        color: rgba(27, 43, 60, 0.70);
                        font-size: 13px;
                        font-style: normal;
                        font-weight: 500;
                        line-height: 165%; /* 21.45px */
                        letter-spacing: 0.26px;
                        width: calc(50% - 20px);
                        margin-right: 20px;
                    }
                    .hours{
                        color: #1B2B3C;
                        font-size: 13px;
                        font-style: normal;
                        font-weight: 500;
                        line-height: 165%; /* 21.45px */
                        letter-spacing: 0.26px;
                        width: 50%;
                    }
                }
            }   
        }
        .contacts-soc-media{
            padding-top: 90px;
            width: calc(50% - 75px);
            @include maxWidth1290(){
                width: calc(50% - 25px);
            }
            @include maxWidth991(){
                padding-top: 0;
                width: 100%;
            }
            .social-networks-wrap{
                margin-bottom: 23px;
                @include maxWidth991(){
                    margin-bottom: 15px;
                }
                .name{
                    color: #1B2B3C;
                    font-size: 14px;
                    font-style: normal;
                    font-weight: 600;
                    line-height: 109%; /* 15.26px */
                    letter-spacing: 0.14px;
                    margin-bottom: 10px;
                    display: block;
                }
                .soc-media-flex{
                    display: flex;
                    align-items: center;
                    .soc-m{
                        width: 44px;
                        height: 44px;
                        border-radius: 50%;
                        background-color: rgba(0, 97, 175, 1);
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        margin-right: 10px;
                        @include maxWidth1200(){
                            margin-right: 5px;
                        }
                        img{
                            width: 22px;
                            height: 22px;
                            display: block;
                        }
                    }
                }
            }
            .contact-row{
                margin-bottom: 20px;
                .name{
                    color: #1B2B3C;
                    font-size: 14px;
                    font-style: normal;
                    font-weight: 600;
                    line-height: 160%; /* 22.4px */
                    letter-spacing: 0.28px;
                }
                &__link-contacts{
                    a{
                        text-decoration: none;
                        color: #1E579F;
                        font-size: 14px;
                        font-style: normal;
                        font-weight: 600;
                        line-height: 160%;
                        letter-spacing: 0.28px;
                        margin-right: 10px;
                        &:last-of-type{
                            margin-right: 0;
                        }
                    }
                }
            }
        }
    }
}
.world-contacts-block{
    .countries-wrapper{
        &__country-sec{
            background: #FFFFFF;
            border-radius: 20px;
            margin-bottom: 10px;
            @include maxWidth991(){
                border-radius: 8px;
            }
            &.active{
                .name-sec{
                  border-bottom: 1px solid #C8DAEC;
                  svg{
                    transform: rotate(180deg);
                    path{
                      fill: #2361A9;
                    }
                  }
                }
            }
            .name-sec{
                display: flex;
                align-items: center;
                justify-content: space-between;
                padding: 25px 30px 25px 40px;
                @include maxWidth991(){
                    padding: 16px 20px;
                }
                span{
                  font-weight: 700;
                  font-size: 17px;
                  line-height: 109%;
                  letter-spacing: -0.01em;
                  text-transform: uppercase;
                  color: #2361A9;
                }
                svg{
                  transition: 0.3s;
                  width: 17px;
                  height: 10px;
                  display: block;
                  @include maxWidth991(){
                    width: 14px;
                    height: 8px;
                  }
                }
            }
            .content{
                .meest-contact-wrap{
                    border-bottom: 1px solid #DEEBF5;
                    padding: 20px 35px 25px 40px;
                    @include maxWidth991(){
                        padding: 20px;
                    }
                    &:last-of-type{
                        border-bottom: unset;
                    }
                    &__top{
                        display: flex;
                        align-items: center;
                        text-decoration: none;
                        justify-content: space-between;
                        margin-bottom: 15px;
                        @include maxWidth991(){
                            margin-bottom: 10px;
                        }
                        .country-name{
                            display: flex;
                            align-items: center;
                            .img-country{
                                width: 35px;
                                height: 35px;
                                border-radius: 50%;
                                margin-right: 10px;
                                @include maxWidth991(){
                                    width: 32px;
                                    height: 32px;
                                }
                                img{
                                    object-fit: cover;
                                    width: 100%;
                                }
                            }
                            .title{
                                a{
                                    color: #2361A9;
                                    font-size: 17px;
                                    font-style: normal;
                                    font-weight: 700;
                                    line-height: 109%; /* 18.53px */
                                    letter-spacing: -0.17px;
                                    text-transform: uppercase;
                                    text-decoration: none;
                                    @include maxWidth991(){
                                        font-size: 14px;
                                    }
                                }
                            }
                        }
                        .img-link{
                            width: 24px;
                            height: 24px;
                            display: block;
                            @include maxWidth991(){
                                width: 22px;
                                height: 22px;
                            }
                            img{
                                width: 1005;
                            }
                        }
                    }
                    &__bottom{
                        display: flex;
                        align-items: flex-end;
                        justify-content: space-between;
                        @include maxWidth1055(){
                            align-items: flex-start;
                            flex-direction: column;
                        }
                        .city-address{
                            text-decoration: none;
                            @include maxWidth1055(){
                                margin-bottom: 10px;
                            }
                            @include maxWidth991(){
                                font-size: 12px;
                            }
                            span{
                                display: block;
                                color: #0061AF;
                                font-size: 14px;
                                font-style: normal;
                                font-weight: 600;
                                line-height: 160%;
                                letter-spacing: 0.28px;
                            }
                            .black{
                                color: #1B2B3C;
                            }
                        }
                        .contacts{
                            display: flex;
                            @include maxWidth991(){
                                flex-direction: column;
                            }
                            .email-link{
                                text-decoration: none;
                                color: #0061AF;
                                font-family: Montserrat;
                                font-size: 14px;
                                font-style: normal;
                                font-weight: 600;
                                line-height: 160%; /* 22.4px */
                                letter-spacing: 0.28px;
                                margin-right: 18px;
                                @include maxWidth991(){
                                    margin-bottom: 10px;
                                }
                            }
                            .phones-link{
                                display: flex;
                                @include maxWidth991(){
                                    flex-wrap: wrap;
                                }
                                .link-phone{
                                    text-decoration: none;
                                    color: #0061AF;
                                    font-size: 14px;
                                    font-style: normal;
                                    font-weight: 600;
                                    line-height: 160%; /* 22.4px */
                                    letter-spacing: 0.28px;
                                    margin-right: 10px;
                                    &:last-of-type{
                                        margin-right: 0;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}
.write-us-wrapper{
    border-radius: 20px;
    background: #FFF;
    width: 65%;
    margin: 50px auto 50px;
    padding: 30px 40px 40px 40px;
    @include maxWidth1290(){
        width: 80%;
    }
    @include maxWidth991(){
        width: calc(100% + 30px);
        margin-left: -15px;
        border-radius: unset;
        padding: 30px 15px;
    }
    .title-form{
        color: #2361A9;
        font-size: 27px;
        font-style: normal;
        font-weight: 700;
        line-height: 125%; /* 33.75px */
        letter-spacing: 0.27px;
        text-transform: uppercase;
        margin-bottom: 20px;
    }
}
.flex-input-row3{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-column-gap: 30px;
    @include maxWidth768(){
        display: block;
        grid-template-columns: unset;
        grid-column-gap: unset;
    }
}
.form-row{
    width: 100%;
    margin-bottom: 24px;
    position: relative;
    @include maxWidth768(){
        margin-bottom: 15px;
    }
    .label{
      font-weight: 500;
      font-size: 12px;
      line-height: 109%;
      letter-spacing: 0.01em;
      color: #2361A9;
      margin-bottom: 5px;
      display: block;
    }
    .input{
      // display: block;
      border: 1px solid #D7D8D9;
      border-radius: 100px;
      padding: 14px 20px 14px;
      width: 100%;
      font-weight: 500;
      font-size: 14px;
      line-height: 109%;
      letter-spacing: 0.02em;
      color: rgba(27, 43, 60, 0.6);
      &::placeholder{
        font-weight: 500;
        font-size: 14px;
        line-height: 109%;
        letter-spacing: 0.02em;
        color: rgba(27, 43, 60, 0.6);
        opacity: 1;
      }
    }
    select{
      border: 1px solid #D7D8D9;
      background: #fff;
      border-radius: 100px;
      font-weight: 500;
      font-size: 16px;
      line-height: 23px;
      display: flex;
      align-items: center;
      letter-spacing: 0.02em;
      color: #8493A8;
      width: 100%;
      height: 48px;
      padding: 0 18px;
      }
      option{
        font-weight: 500;
        font-size: 16px;
        line-height: 23px;
        display: flex;
        align-items: center;
        letter-spacing: 0.02em;
        color: #8493A8;
      }
    }
.check-input{
  position: absolute;
   opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}
.check-input.feedback:checked ~ .survey-wrapper #feedback .false-radio{
  background-color: #2361A9;
  background-image: url(../img/icon_check.svg);
  background-repeat: no-repeat;
  border: unset;
  background-position: center;
}
.check-input.question:checked ~ .survey-wrapper #question .false-radio{
  background-color: #2361A9;
  background-image: url(../img/icon_check.svg);
  background-repeat: no-repeat;
  border: unset;
  background-position: center;
}
.check-input.claim:checked ~ .survey-wrapper #claim .false-radio{
  background-color: #2361A9;
  background-image: url(../img/icon_check.svg);
  background-repeat: no-repeat;
  border: unset;
  background-position: center;
}
.survey-method{
    display: block;
}
.survey-method .false-radio{
    display: block;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 15px;
    height: 25px;
    width: 25px;
    border-radius: 50%;
    background-color: #fff;
    border: 1px solid #D7D8D9;
    cursor: pointer;
}
.survey-wrapper{
  margin-bottom: 30px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-column-gap: 20px;
  @include maxWidth768(){
    margin-bottom: 20px;
    grid-column-gap: unset;
    display: flex;
    width: calc(100% + 8px);
    margin-left: -8px;
  }
  &__row{
    border-radius: 8px;
    border: 1px solid #D7D8D9;
    background: #FFF;
    padding: 22px 18px;
    display: inline-block;
    position: relative;
    height: 100%;
    @include maxWidth768(){
        height: 80px;
        width: calc(33.3% - 8px);
        margin-left: 8px;
        padding: 15px 22px 12px 15px;
        display: inline-flex;
        align-items: flex-end;
    }
    .false-radio{
        @include maxWidth768(){
            top: 15px;
            transform: translateY(0);
        }
    }
    .survey-text{
      margin-left: 40px;
      @include maxWidth768(){
        margin-left: 0;
      }
      & br{
        display: none;
      }
      p{
        color: #0056A4;
        font-size: 16px;
        font-style: normal;
        font-weight: 600;
        line-height: normal;
        letter-spacing: 0.32px;
        @include maxWidth768(){
            font-size: 14px;
            line-height: 20px;
        }
      } 
    }
  }
}
.form-write-to-us{
    .input-row{
        display: block;
        width: 100%;
        .name-input{
            display: block;
            color: #2361A9;
            font-size: 12px;
            font-style: normal;
            font-weight: 500;
            line-height: 109%; /* 13.08px */
            letter-spacing: 0.12px;
            margin-bottom: 5px;
        }
        textarea{
            display: block;
            border: 1px solid #D7D8D9;
            height: 80px;
            border-radius: 20px;
            width: 100%;
            outline: none;
            padding: 12px 18px;
        }
    }
    .div-end{
        .blue-button{
            @include maxWidth768(){
                width: 100%;
                justify-content: space-between;
            }
        }
    }
}
.div-end{
    display: flex;
    justify-content: end;
}

  
  .write-us-wrapper.iti--allow-dropdown input, .iti--allow-dropdown input[type="text"], .iti--allow-dropdown input[type="tel"], .iti--separate-dial-code input, .iti--separate-dial-code input[type="text"], .iti--separate-dial-code input[type="tel"] {
    padding-left: 110px!important;
  }
    