@import 'global/app';
.top_wrap_inner{
    &__text-part{
        width: 55%;
        padding-bottom: 55px;
        @include maxWidth991(){
            width: 100%;
            padding-bottom: 30px;
        }
        p{
            width: 80%;
            color: #606B77;
            font-size: 14px;
            font-style: normal;
            font-weight: 500;
            line-height: 22px; /* 157.143% */
            letter-spacing: 0.28px;
            margin-bottom: 20px;
            @include maxWidth991(){
                width: 100%;
                font-size: 12px;
                line-height: 18px;
            }
            &:last-of-type{
                margin-bottom: 0;
            }
        }
    }
    &__img-media{
        width: 100%;
        display: none;
        vertical-align: bottom;
        @include maxWidth991(){
            display: flex;
        }
        picture{
            width: 100%;
            img{
                width: 100%;
            }
        }
    }
    &.top_canada_about_us{
        background-image: url(../img/top_canada_about_us.png);
        background-repeat: no-repeat;
        background-position: right bottom;
        background-size: 55% 90%;
        margin-bottom: 30px;
        @include maxWidth1290(){
            background-size: 60% 70%; 
        }
        @include maxWidth991(){
            background-image: unset;
            margin-bottom: 0;
        }
    }
}
.tags-wrapper{
    display: flex;
    margin-bottom: 30px;
    @include maxWidth991(){
        flex-flow: row;
        flex-wrap: wrap;
        margin-bottom: 10px;
    }
    &__tag{
        display: inline-block;
        border-radius: 8px;
        background: #FFF;
        padding: 7px 16px;
        margin-right: 10px;
        @include maxWidth991(){
            margin-bottom: 5px; 
        }
        span{
            color: #0056A4;
            font-size: 14px;
            font-style: normal;
            font-weight: 700;
            line-height: 150%; /* 21px */
            letter-spacing: 0.28px;
            text-transform: uppercase;
            @include maxWidth991(){
                font-size: 12px;
            }
        }
    }
}
.abous-us-wrapper{
    display: flex;
    border-radius: 20px;
    background: #FFF;
    margin-bottom: 30px;
    @include maxWidth991(){
        flex-direction: column-reverse;
        width: calc(100% + 30px);
        margin-left: -15px;
        border-radius: unset;
        margin-bottom: 0;
    }
    &:last-of-type{
        margin-bottom: 50px;
        @include maxWidth991(){
            margin-bottom: 0;
        }
    }
    &:nth-child(odd){
        .img{
            width: calc(50% - 120px);
            margin-right: 120px;
            display: flex;
            align-items: flex-end;
            vertical-align: bottom;
            @include maxWidth991(){
                width: 100%;
                margin-right: 0;
            }
            picture{
                width: 100%;
                img{
                    width: 100%;
                }
            }
        }
        .text{
            width: 50%;
            padding: 50px 40px 45px 0;
            @include maxWidth991(){
                width: 100%;
                padding: 40px 15px 25px;
            }
        }
    }
    &:nth-child(even){
        @include maxWidth991(){
            flex-direction: column;
            background: #DEEBF5;
        }
        .img{
            width: calc(55% - 120px);
            margin-left: 120px;
            display: flex;
            align-items: flex-end;
            vertical-align: bottom;
            @include maxWidth991(){
                width: 100%;
                margin-left: 0;
            }
            img{
                width: 100%;
            }
        }
        .text{
            width: 45%;
            padding: 50px 0 45px 40px;
            @include maxWidth991(){
                width: 100%;
                padding: 40px 15px 25px;
            }
        }
    }
    .text{
        .title{
            color: #2361A9;
            font-size: 30px;
            font-style: normal;
            font-weight: 700;
            line-height: 125%; /* 37.5px */
            letter-spacing: 0.3px;
            text-transform: uppercase;
            margin-bottom: 20px;
            @include maxWidth991(){
                font-size: 20px;
                line-height: 120%; 
                margin-bottom: 10px;
            }
        }
        .descr{
            color: #606B77;
            font-size: 14px;
            font-style: normal;
            font-weight: 500;
            line-height: 22px; /* 157.143% */
            letter-spacing: 0.28px;
            margin-bottom: 20px;
            @include maxWidth991(){
                font-size: 12px;
                line-height: 18px;
                margin-bottom: 15px;
            }
        }
        .link{
            display: flex;
            align-items: center;
            text-decoration: none;
            span{
                display: block;
                color: #2361A9;
                font-size: 14px;
                font-style: normal;
                font-weight: 700;
                line-height: 109%; /* 15.26px */
                letter-spacing: 0.28px;
                text-transform: uppercase;
            }
            img{
                width: 14px;
                height: 8px;
                margin-left: 10px;
            }
        }
    }
}