@import 'global/app';

.faq_list__item{
  background: #fff;
}
.faq_list{
  margin: 30px auto 60px;
  width: 65%;
  min-width: unset;
  @include maxWidth1150(){
    width: 80%;
  }
  @include maxWidth991(){
    width: 85%;
  }
  @include maxWidth768(){
    width: 100%;
  }
}