@mixin maxWidth1440() {
    @media screen and (max-width: 1440px) {
        @content;
    }
}

@mixin minWidth1025() {
    @media screen and (min-width: 1025px) {
        @content;
    }
}

@mixin maxWidth1024() {
    @media screen and (max-width: 1024px) {
        @content;
    }
}

@mixin maxWidth991() {
    @media screen and (max-width: 991px) {
        @content;
    }
}

@mixin maxWidth500() {
    @media screen and (max-width: 500px) {
        @content;
    }
}

@mixin maxWidth425() {
    @media screen and (max-width: 425px) {
        @content;
    }
}

@mixin flexRow {
    display: flex;
    flex-direction: row;
}

@mixin flexWrap {
    flex-wrap: wrap;
}

@mixin flexColumn {
    display: flex;
    flex-direction: column;
}

@mixin flexCenter {
    align-items: center;
    justify-content: center;
}

@mixin flexSpaceBetween {
    align-items: center;
    justify-content: space-between;
}

@mixin gap($rowGap, $columnGap: $rowGap) {
    row-gap: $rowGap;
    column-gap: $columnGap;
}

@mixin square($size) {
    width: $size;
    height: $size;
}

@mixin squareFlex($size) {
    min-width: $size;
    min-height: $size;
    max-width: $size;
    max-height: $size;
}

@mixin flexWidth($width) {
    min-width: $width;
    max-width: $width;
}

@mixin flexWidthReset {
    min-width: initial;
    max-width: initial;
}

@mixin mobile {
    @media (max-width: 1024px) {
        @content;
    }
}

@mixin desktop {
    @media (min-width: 1025px) {
        @content;
    }
}

@mixin imgWrapper($width, $height: null, $imgWith: 100%, $imgHeight: auto) {
    line-height: 0;
    min-width: $width;
    width: $width;

    @if $height != null {
        height: $height;
    }

    img {
        width: $imgWith;
        height: $imgHeight;
        object-fit: contain;
    }
}

@mixin filterBlueToGray {
    filter: grayscale(.75) opacity(0.4);
}

@mixin markedList($rowGap: 10px, $rowGapMobile: $rowGap) {
    @include flexColumn;
    row-gap: $rowGap;

    > li {
        background: url("/app/images/list-mark.svg") no-repeat left 4px;
        padding-left: 35px;

        @include mobile {
            padding-left: 20px;
            background-size: 10px 10px;
        }

        a {
            color: #2361A9;
            font-weight: 700;
            text-decoration-line: underline;
        }
    }

    @include mobile {
        row-gap: $rowGapMobile;
    }
}

@mixin numberedList($rowGap: 10px, $rowGapMobile: $rowGap) {
    @include flexColumn;
    row-gap: $rowGap;
    counter-reset: item;
    list-style-type: none;
    padding-left: 0;

    > li {
        position: relative;
        padding-left: 59px;

        &:before {
            @include flexRow;
            @include flexCenter;
            @include square(45px);
            position: absolute;
            left: 0;
            top: 0;
            border-radius: 50%;
            background: #DEEBF5;
            content: counter(item);
            counter-increment: item;
            color: #2361A9;
            text-align: center;
            font-family: Montserrat;
            font-size: 22px;
            font-style: normal;
            font-weight: 600;
            line-height: 120%; /* 26.4px */
            letter-spacing: 0.22px;
            text-transform: uppercase;
        }

        > ul {
            margin-left: -32px;
        }
    }
}

@mixin table {
    border: none;
    border-spacing: 0;
    border-collapse: collapse;
}

@mixin tableRounded {
    border: 1px solid #D7D8D9;
    border-radius: 20px;
    border-collapse: initial;

    @include mobile {
        border-radius: 0;
    }

    th {
        vertical-align: top;

        @include mobile {
            vertical-align: bottom;
        }
    }

    th, td {
        border-left: none;
        border-top: none;
        border-bottom: 1px solid #D7D8D9;
        border-right: 1px solid #D7D8D9;

        &:last-child {
            border-right: none;
        }
    }

    tr:last-child {
        th, td {
            border-bottom: none;
        }
    }
}

@mixin tableCompact {
    th {
        padding: 7px 10px;

        @include mobile {
            padding: 15px 10px;
        }
    }
}

@mixin ignoreParentPaddings(
    $parentPaddingLeft: 32px,
    $parentPaddingLeftMobile: $parentPaddingLeft,
    $parentPaddingRight: $parentPaddingLeft,
    $parentPaddingRightMobile: $parentPaddingLeftMobile
) {
    margin-left: -$parentPaddingLeft;
    margin-right: -$parentPaddingRight;

    @include mobile {
        margin-left: -$parentPaddingLeftMobile;
        margin-right: -$parentPaddingRightMobile;
    }
}

@mixin scrollbarVertical($width: 4px) {
    scrollbar-width: thin;
    scrollbar-color: #0061AF transparent;

    &::-webkit-scrollbar {
        width: $width;
        border-radius: 8px;
    }

    &::-webkit-scrollbar-thumb {
        width: $width;
        background: #0061AF;
        border-radius: 8px;
    }
}

@mixin sectionFaq {
    @include flexColumn;
    @include flexCenter;
    @include gap(30px);
    background-color: #FFFFFF;
    border-radius: 20px;
    padding: 50px 40px 67px;

    @include mobile {
        @include gap(15px);
        padding: 30px 15px 35px;
        border-radius: 0;
    }

    &__title {
        color: #2361A9;
        font-family: Montserrat;
        font-size: 30px;
        font-style: normal;
        font-weight: 700;
        line-height: 125%; /* 37.5px */
        letter-spacing: 0.3px;
        text-transform: uppercase;
        text-align: center;

        @include mobile {
            font-size: 20px;
            line-height: 120%; /* 24px */
        }
    }

    &__list {
        width: 100%;
        max-width: 1000px;
    }
}
